[2015-02-25 04:34] arthurnn commented on #893
agree with @dwradcliffe

[2015-02-28 20:29] andrewhamon opened #899 "Search only searches gem names"
A recent experience:

Search "one time password" - no results

Search "two factor" - three results

Search "otp" - 27 results.

It seems the descriptions of the gems are not being searched, merely the titles. This isn't very ideal from a user experience perspective.

[2015-03-01 23:41] simi commented on #899
related to https://github.com/rubygems/rubygems.org/pull/455

[2015-03-02 15:56] dennisvandehoef commented on #899
https://github.com/rubygems/rubygems.org/issues/847

[2015-03-02 22:32] postmodern commented on #732
@simi hinting looks odd on the "e" and "total downloads" looks inconsistent.

[2015-03-03 08:13] #890 closed

[2015-03-03 14:17] arthurnn commented on #890
thanks all.

[2015-03-04 01:42] maclover7 commented on #891
Sounds like a good idea. A bunch of other package managers (NPM, CocoaPods) have recently introduced this feature.

[2015-03-04 02:20] dwradcliffe commented on #891
I'm not sure we want to be pulling in external content other than from the gemspec. This could introduce all sorts of rendering and security issues.

[2015-03-07 20:55] AaronLasseigne opened #906 "Repository links"
Is "Wiki" a particularly useful link to have? A wiki doing what? A wiki is how something is implemented and not what it is. My guess is that it's for wiki style documentation. If that's the case it seems to me like it would be more useful to have "Documentation" and "Guides" as URLs.

Additionally, there is a place for a mailing list but nothing for chat. Many projects have a way for you to chat w

[2015-03-14 18:04] arthurnn commented on #906
We have the wiki and http://guides.rubygems.org/ .

I am usually on IRC, and I would say the #rubygems on freenode is the best way to get in touch with the rubygems devs.

[2015-03-14 18:04] #893 closed

[2015-03-16 13:51] AaronLasseigne commented on #906
I think there was a misunderstanding. I wasn't clear enough in my issue. I'm referencing the links a gem owner can add.

[2015-03-17 14:26] etxzay commented on #391
@MartinMa Thank you!

[2015-03-18 17:12] mperham opened #908 "Password reset email is not linked"
Looks like it needs some line breaks to read better.  If on its own line, I suspect Gmail will hyperlink it.

![screen shot 2015-03-18 at 10 10 11](https://cloud.githubusercontent.com/assets/2911/6714751/3effaf2a-cd57-11e4-836c-0c2125c84d6f.jpg)

[2015-03-18 17:15] arthurnn commented on #908
interesting, I just tested this and Gmail hyperlinked just fine for me.

[2015-03-18 17:18] mperham commented on #908
Yeah, I was actually pretty surprised, IME any Gmail links anything that looks vaguely hyperlinkish.

[2015-03-21 04:17] bradly commented on #430
So rubygems.org uses the Rubygems Gem::Specification class to pull a gem's dependencies. It would ideal for this issue to be opened in with rubygems/rubygems and see what they think. Here is a gist replicating the problem with rubygems itself: https://gist.github.com/bradly/dc8820d90dbae3f15678

@qrush We could work around this by uniquing the gem_id and requirements. What do you think?

[2015-03-21 18:05] arthurnn commented on #371
fixed by https://github.com/rubygems/rubygems.org/pull/909

[2015-03-21 18:05] #371 closed

[2015-03-22 02:45] bradly commented on #628
@indirect @bf4 Is this issue resolved by #872?

[2015-03-22 04:27] arthurnn commented on #628
yeah. now we have sha256 in all gem versions.
thanks all.

[2015-03-22 04:27] #628 closed

[2015-03-22 04:54] #888 closed

[2015-03-22 12:23] qrush commented on #430
It would be nice to have the root problem fixed, and when RubyGems wraps up the gem, it does a `uniq` call itself.

[2015-03-23 15:40] AaronLasseigne commented on #906
@arthurnn Can I get a response to the clarification I made or get the ticket re-opened?

[2015-03-23 15:42] bradly commented on #712
@indirect @skottler I believe I took care of this with #911 and this can be closed. Thanks!

[2015-03-23 15:53] skottler commented on #712
Awesome work @bradly! Thanks.

[2015-03-23 15:53] #712 closed

[2015-03-23 15:59] AaronLasseigne commented on #906
thanks

[2015-03-26 23:17] farukaydin commented on #836
@shime if you don't have enough time to contribute anymore, I'd like to work on it.

[2015-03-27 10:42] jimmycuadra opened #914 "Reminder: Recommit metadata branch when hstore is enabled"
Commit e81a2976bb416b51acd789d2869a287e890b129b reverted #858, citing that hstore is not available in production yet. I'm creating this issue as a reminder to recommit the branch when possible, just so it doesn't get lost in the shuffle! :)

[2015-03-27 12:15] dwradcliffe commented on #914
The server is ready so we can do this anytime now.

On Friday, March 27, 2015, Jimmy Cuadra <notifications@github.com> wrote:

--
---
David Radcliffe
radcliffe.david@gmail.com
dwradcliffe.com

[2015-03-27 12:58] jimmycuadra commented on #914
/cc @arthurnn @sferik

[2015-03-27 13:17] arthurnn commented on #914
just revert-revert on master https://github.com/rubygems/rubygems.org/commit/a72bc3b6506ffbdb5aeb1ec3f23d88c69ce05851 and am deplying this to produciton right now.

thanks

[2015-03-27 13:17] #914 closed

[2015-03-27 23:13] lloydde opened #916 "Search should handle encoded amp;"
http://kitchen.ci/docs/getting-started/next-steps links to
`https://rubygems.org/search?utf8=%E2%9C%93&amp;query=kitchen-`
which has no results, whereas the expected results are
`https://rubygems.org/search?utf8=%E2%9C%93&query=kitchen-`
has the expected results.

[2015-03-29 19:25] bradly commented on #916
@lloydde I'm think this is working correctly. See this test link: https://jsfiddle.net/k93e6t04/2/ . Looking at the href on your page ```<a href="https://rubygems.org/search?utf8=%E2%9C%93&amp;amp;query=kitchen-">``` it looks like the & is double escaped.

[2015-03-29 21:30] lloydde commented on #916
@bradly sorry, you are correct.

[2015-03-29 21:30] #916 closed

[2015-03-30 22:19] bradly commented on #608
@dwradcliffe I took care of this in #912 so this should be good to close. Thanks!

[2015-03-30 22:33] arthurnn commented on #608
Thanks @bradly

[2015-03-30 22:33] #608 closed

[2015-03-30 22:45] dwradcliffe commented on #608
Thanks!!

On Monday, March 30, 2015, Arthur Nogueira Neves <notifications@github.com>
wrote:

--
---
David Radcliffe
radcliffe.david@gmail.com
dwradcliffe.com

[2015-03-31 19:00] qrush commented on #725
It's been months without any real action on this. I'm going to submit this idea to https://github.com/rails-girls-summer-of-code/projects and see if we can get anyone interested in actually working on it.

FWIW I am still bullish on a completely separate mini Rails app/site that runs this outside of the main Rails app. It doesn't necessarily have to be built into the existing app. It *could* be, b

[2015-03-31 23:56] bf4 commented on #725
Good call

[2015-04-03 14:49] farukaydin commented on #908
I think it can be closed, thoughtbot/clearance@41f06be will fix the issue.

[2015-04-03 15:01] arthurnn commented on #908
Thanks @farukaydin . I will keep watching clearance for the next release.

[2015-04-03 15:01] #908 closed

[2015-04-03 17:12] derekprior commented on #908
Clearance 1.9.0 is out and includes this change.

[2015-04-03 23:34] AaronLasseigne opened #927 "owners API endpoint not returning owners (sometimes)"
It looks like there are times the owners are listed but not returned via the API.

https://rubygems.org/gems/tzinfo
![tzinfo rubygems org your community gem host - vimperator 2015-04-03 18-32-12](https://cloud.githubusercontent.com/assets/297205/6990334/c2cb25b6-da2f-11e4-9281-ef18a2b97091.jpg)

[code]

This also appears to be happening for [thread_safe](https://rubygems.org/gems/thread_safe).
![t

[2015-04-04 05:31] arthurnn commented on #927
Good catch. This is most likely because of my change on https://github.com/rubygems/rubygems.org/commit/309908d17f472797d832e4e3a490981cfde6e5a0 .
We should still hide email, if the user opt-in to hide it, but I think we should add the handle in the API, so the hash doesnt look empty like this.
I will fix this. thanks

[2015-04-04 13:43] buren commented on #778
I tested this on Chrome 40 and Firefox 35 on borh Windows 7 (using browserstack) & OSX 10.10 and __they look, to me, consistent__ (disregarding the resolution difference):

## OSX

#### Firefox 35

![firefox-osx-rubygems](https://cloud.githubusercontent.com/assets/922411/6992857/fbd0ae4c-dae0-11e4-8adc-9444d5fb646a.png)

#### Chrome 40

![chrome-osx-rubygems](https://cloud.githubusercontent.com/as

[2015-04-05 05:00] #927 closed

[2015-04-07 01:47] arthurnn commented on #644
@dwradcliffe isnt this done already?

[2015-04-07 02:01] arthurnn commented on #649
https://rubygems.org/pages/data done by @dwradcliffe

[2015-04-07 02:01] #649 closed

[2015-04-08 21:31] simi commented on #769
@dwradcliffe so is this possible?

[2015-04-08 21:44] simi commented on #337
I think this is handled better now https://github.com/rubygems/rubygems.org/blob/0afbde79d2ffd3e77f45315afe82609c299553bd/app/models/pusher.rb#L27-L44.

[2015-04-08 22:06] simi commented on #424
Was this idea rejected?

[2015-04-08 22:10] simi commented on #427
`sha` was added to API in https://github.com/rubygems/rubygems.org/pull/911 and it is deployed already. I think this can be closed now.

[2015-04-08 22:17] simi commented on #581
@arthurnn was this fixed?

[2015-04-08 22:30] simi commented on #322
This is fixed now (confirmed by cURL and API calls).

[2015-04-08 22:34] arthurnn commented on #427
Yes, sha256 is already in production.
thanks all

[2015-04-08 22:34] #427 closed

[2015-04-08 22:46] dwradcliffe commented on #337
Yeah, I think we're handling this better now. These gems still need to be yanked. I'll get that done in the next few days and then we can close this.

[2015-04-08 22:46] simi commented on #644
@arthurnn It [looks like](https://github.com/rubygems/rubygems-aws/commits/master/chef/site-cookbooks/rubygems/templates/default/nginx_balancer.conf.erb) it is not.

[2015-04-08 22:50] #322 closed

[2015-04-08 23:22] dwradcliffe commented on #644
Nope, sorry, nothing changed here yet. This is pretty much on hold until RailsConf.

[2015-04-09 00:37] qrush commented on #769
+1 for not base64 encoding images like this that will rarely change. We can just throw them on S3/CF if we need to.

[2015-04-09 09:52] vassilevsky opened #934 "Remove webhooks with too many failures automatically"
Hello :)

I don't have a clear picture of how much resources are wasted on failed attempts to send webhooks. I failed to understand where can I see graphs that *statsd* collects.

*If* it's wasting too much resources, I could implement automatic cleanup of webhooks that have a really big number of failures.

Also, maybe this number should be reset after each success, so that we have a better pictu

[2015-04-09 10:00] simi commented on #934
You can inspect `web_hooks` table from [production dump](https://rubygems.org/pages/data).

[2015-04-09 14:55] qrush commented on #934
I don't feel like this is a big problem we have. Maybe for a larger service, or something like Slack. Closing this until there's more evidence it is a problem.

[2015-04-09 14:55] #934 closed

[2015-04-09 14:56] qrush commented on #836
The `reverse_dependencies` endpoint definitely needs documentation. http://guides.rubygems.org/rubygems-org-api/

[2015-04-09 14:57] qrush commented on #891
I am -1 about this. The gemspec summary/description is enough. Let GitHub (and whatever comes next) worry about markdown rendering, etc.

[2015-04-09 14:57] #891 closed

[2015-04-09 14:58] dwradcliffe commented on #934
Yeah, we honestly don't have a lot of webhooks, and although we do have failures, it's not clogging up the system. Thanks for asking though!

[2015-04-09 15:49] sferik commented on #769
I think the reference is gems are like hidden treasure.

[2015-04-09 15:57] ianks commented on #891
Fair enough, although it's the reason I almost never use rubygems.org, and
I do use npmjs.com often because I can get more information in one place.
Surely something to consider.
On Thu, Apr 9, 2015 at 8:57 AM Nick Quaranto <notifications@github.com>
wrote:

[2015-04-09 16:44] vassilevsky commented on #934
Alright :) I was just feeling sorry for 6K failures on my webhook to a VM that was deleted because I stopped paying for it. I deleted the webhook as well now.

[2015-04-09 21:51] dwradcliffe commented on #769
I can't remember exactly what I wanted to check on. I'm totally ok moving these images to s3 though. :+1:

[2015-04-15 09:25] Gedrovits opened #937 "Full gem dependencies tree (can be as separate view)"
Hello.

I know that there is ruby eco-systems where gem dependencies is quite important issue and decision to use or not use some gem highly depends on it's dependencies and requirements.

A view, where user can see a recursive list tree of dependencies / requirements for exact gem.
Currently this can be achieved by going through links for all gems and it's dependencies to build a 'tree' in mind.

[2015-04-15 16:11] dwradcliffe commented on #582
I believe all the missing gems have been yanked. Please reopen if you are still seeing errors.

[2015-04-15 16:11] #582 closed

[2015-04-21 22:55] IsmailM commented on #937
+1

[2015-04-21 23:12] IsmailM opened #940 "gem name should not be case sensitive"
I think that gem names should not be case sensitive?

Any thoughts?

[2015-04-22 01:47] dwradcliffe commented on #581
I'm going to close this. I believe we have removed any missing gems at this point.

[2015-04-22 01:47] #581 closed

[2015-04-22 18:04] qrush opened #941 "Profiles need overflow on user names"
Via http://help.rubygems.org/discussions/suggestions/7810-usernames-longer-than-15-characters-look-ugly-on-profile-page

[2015-04-29 00:30] jirutka commented on #899
+1

[2015-05-02 20:46] indirect opened #947 "Stats page shows out of date top ten gems"
The code that selects the top ten gems on the stats page is querying postgres instead of reds. To get the actual top ten gems, you need code that looks something like this:

[code]

[2015-05-03 18:15] andrew opened #948 "Missing dependency names"
I noticed something a little strange on the [carrierwave_securefile](https://rubygems.org/gems/carrierwave_securefile) gem:

![screen shot 2015-05-03 at 7 07 07 pm](https://cloud.githubusercontent.com/assets/1060/7446163/e68cfee8-f1c7-11e4-9214-958e8694e785.png)

The name of the dependency (crypt19 according to the [gemspec on github](https://github.com/dougc84/carrierwave_securefile/blob/master/c

[2015-05-03 18:41] andrew opened #949 "Version built datetime"
Versions currently have a built_at attribute that's provided as a date via the API, is it possible to get the time that the version was created as well?

I'm using built_at on https://libriaries.io at the moment but it doesn't work so well when showing recently created/updated gems as they all show as being published at midnight.

I'd be happy to send a PR to add `created_at` to `Version#payload`

[2015-05-03 18:48] andrew opened #950 "Development dependencies for older versions"
You can currently see the dependency list for every version of a gem via the web interface but the dependency list is only available on via the API for the latest version as far as I can see.

Two ways I can see for making this available:

1. Adding dependencies to `Version#payload` for the existing version api endpoints
or
2. Added a separate endpoint for just the dependencies for a version of a

[2015-05-08 13:59] antlypls opened #951 "Useless response for gem owners/profiles API for users with empty handle and hidden email"
This issue is related to #927.

Gem owners and profiles api return json like `{"handle":null}` if user has empty handle and hidden email.
Such response doesn’t make much sense. Maybe it’s better to return `display_handle`?

[2015-05-09 20:37] AaronLasseigne opened #952 "documentation_uri is sometimes missing from the api query"
The [chronic](https://rubygems.org/gems/chronic) gem has documentation linked and the link works.

![chronic rubygems org your community gem host - vimperator 2015-05-09 15-36-38](https://cloud.githubusercontent.com/assets/297205/7551948/3c03abc2-f661-11e4-8afd-1331b57551f0.jpg)

However, when I query information about the gem it does not return a `:documentation_uri`.

[code]
In particular: `"doc

[2015-05-11 13:17] kares opened #954 "platform gems do not get shown"
... in search or the gem detail page.

e.g. jruby-openssl changed it's  `gem.platform = 'java'` since **0.9.5**
so that MRI/Rubinius users do not attempt to gem install ... it's clearly a platform specific gem.

search (list) shows **0.9.4** https://rubygems.org/search?utf8=%E2%9C%93&query=jruby-openssl
as well as the detail page https://rubygems.org/gems/jruby-openssl (on top), the newer versions

[2015-05-12 10:53] antlypls opened #956 "Owners API does not accept user id."
Not sure is this a bug, or it's designed this way. Owners API only accepts user `handle` to identify user, requests with `id` like `http://rubygems.org/api/v1/owners/12345/gems.json` return 404.
That is not consistent with profiles API that accepts both `id` and `handle`.

[2015-05-12 11:03] simi commented on #956
It should be easy to achieve this by using `User.find_by_slug!` here https://github.com/rubygems/rubygems.org/blob/28a96d949e3d83ee04335ecde19b006fa58fd5bd/app/controllers/api/v1/owners_controller.rb#L37.

But it will be great to keep this consistent across whole API. I'm not sure what's preferred way.

[2015-05-13 08:53] vassilevsky commented on #725
Looks like GSOC isn't going to solve this. They picked other important projects. So, what is the first step? Add the 'up for adoption' status to gem?

[2015-05-13 13:40] qrush commented on #725
There is a RailsGirls Summer of Code project working on this and they're
waiting to be accepted.

There's plenty of other projects...doing something with our horde of
stat/download data would be super helpful!

On Wed, May 13, 2015 at 4:53 AM, Ilya Vassilevsky <notifications@github.com>
wrote:

[2015-05-13 15:06] vassilevsky commented on #725
OMG I totally confused RGSOC and GSOC! 😱
I have since deleted my comment. Sorry.
We'll find out in two days.

Is there more info on the stat data problem?

[2015-05-13 15:51] vassilevsky commented on #486
This is important. I would actually like to be able to tell if a gem builds an extension the sooner the better.

What if the gem page shows icons like #️⃣ (with tooltip) next to gem versions if they build extensions?
On gem list page, display the icon next to gem name if its most recent version builds an extension.

[2015-05-13 16:05] vassilevsky commented on #836
VersionEye (external service) has such a page. For example:

https://www.versioneye.com/ruby/rake/references

[2015-05-15 14:41] qrush commented on #956
Nice catch. +1.

[2015-05-15 14:50] qrush commented on #954
This is expected behavior - we're just not showing the platform gems on search and on the gem detail page. If there's only one platform then we show that platform. The default is to always show the normal Ruby platform version.

[2015-05-15 14:50] #954 closed

[2015-05-15 15:21] kares commented on #954
Thanks Nick, please this is really annoying for gems such as jruby-openssl - they had previously not had platform specific releases but now they do (and they only have a platform specific *-java* release) - users do not see the latest versions of those ;( ... how is this expected behavior - could you maybe reconsider?

[2015-05-15 15:26] qrush commented on #951
Definitely a bug. Yep.

[2015-05-16 16:34] #956 closed

[2015-05-17 12:33] farukaydin commented on #950
LGTM. I prefer separate dependencies endpoint like reverse dependencies in version api.

[2015-05-17 19:25] #952 closed

[2015-05-21 03:45] knappe commented on #778
@postmodern Can you please double check you findings?

I'm also not seeing any discrepancies in Chrome vs Firefox on OS X, minus the lack of the copy to clipboard 'widget' in Firefox.

Firefox 38.0.1:
![screen shot 2015-05-20 at 9 43 12 pm](https://cloud.githubusercontent.com/assets/138048/7741197/522f37be-ff39-11e4-9a15-e398853e9442.png)

Chrome 43.0.2357.65 (64-bit):
![screen shot 2015-05-20 at

[2015-05-21 03:56] postmodern commented on #778
Tested on a fresh Fedora 21 install.

### Firefox 38 (stable)

![Firefox 38](http://i.imgur.com/Y94pCZ2.png)

### Chrome 43 (stable)

![Chrome 43](http://i.imgur.com/nL7ZH1w.png)

Maybe it has something to do with my resolution (1366x768)?

[2015-05-21 04:05] knappe commented on #778
It looks like the issue with the scrollbars has been fixed which, at least in my eyes, was the biggest issue.

@postmodern are there any issues, besides what looks like some font differences?

[2015-05-21 04:12] postmodern commented on #778
Only other difference are the missing copy/paste icons in Firefox. Chrome correctly renders those. I'm guessing it's a silly margin/padding issue.

[2015-05-21 04:23] knappe commented on #778
They're hidden.  My guess is that they're disabled in FF because they rely on flash which is not installed.  Hiding it when disabled would be the best course of action in my eyes.  You can double check if flash is installed: http://isflashinstalled.com/.
![screen shot 2015-05-20 at 10 21 06 pm](https://cloud.githubusercontent.com/assets/138048/7741620/96189970-ff3e-11e4-8e68-5e5fc29e18cb.png)

[2015-05-22 15:06] sferik opened #965 "Create rake task to automate updating vendor cache"

[2015-05-28 02:17] AaronLasseigne opened #967 "documentation_uri missing from the api"
This issue is similar to #952.

The `ftpd` gem has documentation listed on its page:
https://rubygems.org/gems/ftpd

However, the API does not return it:
[code]

Unlike the previous case the documentation is `""` rather than `nil`.

[2015-05-28 18:49] nyaapa opened #968 "No ipv6"
[code]

[2015-05-28 18:53] andrew commented on #950
@farukaydin just working on this now, there aren't many examples of route formats an end point for a particular version, would you prefer:

`/api/v1/gems/[GEM NAME]/dependencies.json` with `version` passed as a parameter or default to latest

or something more like:

`/api/v1/versions/[GEM NAME]/[VERSION]/dependencies.json`

[2015-05-28 19:30] dwradcliffe commented on #968
Your output is IPv4, not IPv6.

While this isn't a support avenue, I'm guessing you have local or regional network problems.

[2015-05-28 19:30] #968 closed

[2015-05-28 19:39] nyaapa commented on #968
[code]

[2015-05-28 19:46] nyaapa commented on #968
And with google dns
[code]

[2015-05-28 19:47] dwradcliffe commented on #968
Yes, we currently don't support IPv6. It's probably not on the roadmap for this year. Definitely will keep it in mind for the future.

[2015-05-28 21:34] farukaydin commented on #950
For downloads endpoint ```/api/v1/downloads/[GEM NAME]-[GEM VERSION].(json|yaml)``` was used.

So you can use ```/api/v1/versions/[GEM NAME]-[GEM VERSION]/dependencies.json```

[2015-05-29 02:36] keithpitty commented on #725
This is a wonderful idea. I'm looking forward to hearing more about the progress of it's implementation.

[2015-05-29 07:23] Mazwak opened #969 "Background-color without color"
Hi

A background color is set in the body, without setting the color attribute. It makes the pages almost unreadable if base color is white or light grey.

It can happen if you have custom CSS, and recently it's default on Fedora 22 if you choose the dark Gnome theme and use Firefox.

It would be nice to set color to black or near black.

[2015-05-30 16:42] shevegen opened #971 "Minor glitch - wrong count of total gems"
Hey guys,

I believe there is a small bug right now. Actually, not so much a bug and more like a
glitch. Completely yanked gems are also counted when you go to a project owner
of a gem.

For instance, at

https://rubygems.org/profiles/58718

it reads 151 of my gems.

But I counted, and I come up to only 136 gems that are listed there.

I believe the difference is because I yanked away some old gem

[2015-05-31 21:44] Kapeli opened #972 "Search API not returning exact matches for some queries"
The Search API doesn't return exact matches for some queries. As far as I can tell, it happens with queries that have a small length.

For example, if you search for `ib`, the `ib` gem is not part of the search results:

https://rubygems.org/api/v1/search.json?query=ib

[2015-06-02 11:42] #971 closed

[2015-06-04 02:39] epitron commented on #891
I wholeheartedly agree! Having the gem's README on the page would be excellent.

The description rarely gives you enough information to know if you want to install this gem, and the links on the side are irritating because the github link is sometimes "Homepage" and sometimes "Source code".

I looked into implementing this feature the other day, and the primary concern is where to cache the unpars

[2015-06-04 12:06] vassilevsky commented on #725
http://railsgirlssummerofcode.org/blog/2015-06-04-2015-teams/

Binary (Angela & Lina Marcela)
Location: Barranquilla, Colombia
Project: RubyGems Adoption Center

:tada:

[2015-06-04 23:12] keithpitty commented on #725
:clap:

[2015-06-09 08:11] simi opened #976 "http://uptime.rubygems.org/ down"
try http://uptime.rubygems.org/

![screenshot-uptime rubygems org 2015-06-09 10-18-31](https://cloud.githubusercontent.com/assets/193936/8053437/ee831a0c-0e90-11e5-8a10-585fb38df84b.png)

[2015-06-09 10:03] Gedrovits commented on #486
+1 Very important for isolated systems without internet access, because we need to provide compiled way for them.

[2015-06-10 14:44] enebo opened #978 "https://rubygems.org/pages/download page should have date of last release of rg"
Summary says it all.  I think people at a glance like to know how when the last release of something was put out.

[2015-06-10 15:04] dwradcliffe commented on #978
:+1: great idea! This shouldn't be too difficult.

[2015-06-12 17:31] dwradcliffe commented on #976
Assigning this to @qrush since you have the pingdom account.

[2015-06-12 18:11] arthurnn commented on #948
What will happen if we try to install that gem? I think it will fail because will not find the dependency right?

I think we should remove the line completely from the UI and API. Thoughts @sferik @dwradcliffe

[2015-06-12 18:13] andrew commented on #948
Yep, you get:

[code]

[2015-06-13 11:50] qrush commented on #976
I tweeted at their support. I can't figure out where in the pingdom UI this was configured in the first place.

[2015-06-15 12:34] qrush commented on #978
Good call! Yes.

[2015-06-15 12:34] qrush commented on #976
It's back up. Apparently they removed the feature for the plan we were on so they switched the plan for us to the one that does.

[2015-06-15 12:34] #976 closed

[2015-06-15 12:59] simi commented on #976
Bombastico!

[2015-06-15 17:48] arthurnn commented on #836
@farukaydin fell free to add the docs, and CC me on the PR.. thanks :heart:

[2015-06-15 17:59] farukaydin commented on #836
@arthurnn It's already done. https://github.com/rubygems/guides/pull/127 :heart: :yellow_heart: :blue_heart:

[2015-06-15 18:03] arthurnn commented on #836
LOL

thanks

[2015-06-15 18:03] #836 closed

[2015-06-15 20:44] arthurnn opened #981 "Replace rr gem with minitest mock"
As far as I can tell, we can use minitest built-in stubs, instead of using `rr` gem. as it is not maintained anymore.

[2015-06-16 01:54] Awake99 opened #982 "SSL error while installing jekyll"
So I am trying to install jekyll on my mac, and after disabling the firewall and putting in the command: $ gem install jekyll, it ran for about 15 minutes and I received this error:ERROR:  While executing gem ... (OpenSSL::SSL::SSLError)
    SSL_connect SYSCALL returned=5 errno=0 state=SSLv3 read finished A

I would appreciate any help! I ran this from the root account and I have Ruby and RubyGems

[2015-06-16 09:20] farukaydin commented on #981
@arthurnn I think we should use mocha gem instead of minitest mock and stubs, since it's more suitable for our needs. In minitest we stub a method and inside of this stub block we have to check assertion, however some of our tests have three stub methods sequentially and after all these stubbed we check the assertion. So if we don't want to check assertion inside of block everytime we use stub, we

[2015-06-16 13:53] arthurnn commented on #981
Sure. mocha works for me too.. Go head @farukaydin . thanks

[2015-06-16 14:58] arthurnn commented on #969
I think we are not going to change the design again, as it was changed already not that long ago.
:-1: from me on this.

[2015-06-16 14:59] arthurnn commented on #951
this should be fixed by https://github.com/rubygems/rubygems.org/pull/955

[2015-06-16 14:59] #951 closed

[2015-06-16 15:01] indirect commented on #969
I think this was just a request to explicitly set the text color, rather than relying on the browser to default it to black. That seems reasonable to me...

On Jun 16, 2015, 7:58 AM -0700, Arthur Nogueira Neves<notifications@github.com>, wrote:

[2015-06-16 15:02] arthurnn commented on #969
Thanks for clarifying @indirect .. I was not sure if I had understood it right.
@Mazwak fell free to open a PR for this.

[2015-06-16 15:46] dwradcliffe commented on #982
Sorry you're having trouble! It would be better to open a help ticket at help.rubygems.org since this is the repository/issues for the RubyGems.org application itself.

[2015-06-16 15:46] #982 closed

[2015-06-16 16:17] arthurnn commented on #486
I am ok with this. Should not be that hard to build, if anyone interested in taking this task, go ahead.

[2015-06-16 18:26] #965 closed

[2015-06-16 18:26] #967 closed

[2015-06-17 08:42] Gedrovits commented on #486
Will look into it.

[2015-06-24 12:56] voxik opened #987 ""latest" API reports old version of gem"
Checking the curb version [1], the "latest" API call returns 0.5.8.0 version where the "gems" returns properly version 0.8.8.

[code]

[1] https://rubygems.org/gems/curb/versions

[2015-06-24 12:58] voxik commented on #987
I noticed this since release-monitoring.org [1] recently started to use the "latest" API where it used to use the "gems" API. But may be it was not the best idea ...

[1] https://release-monitoring.org/project/4276/

[2015-06-24 13:00] dwradcliffe commented on #987
Yeah, something is off here. Investigating.

[2015-06-24 13:07] voxik commented on #987
thx ... the same issue apply for eventmachine, json ...

[2015-06-24 18:45] maclover7 commented on #987
Is the issue that [here](https://github.com/rubygems/rubygems.org/blob/master/app/controllers/api/v1/versions_controller.rb#L19), we are calling:

[code]

Should this be changed to:
[code]

Happy to submit a PR.

[2015-06-24 18:49] dwradcliffe commented on #987
@maclover7 Yep, I think you're right. Feel free to submit a PR :)

[2015-06-24 20:40] maclover7 commented on #987
Awesome. Will submit a PR either today or tomorrow.

[2015-06-26 19:33] echristopherson opened #989 "Unable to install pry gem on Windows 7"
I currently (for the past 8 days at least) get an error when trying to gem install pry in Windows 7 using Ruby 2.2.2p95 (32-bit):

    X:\Scripts>gem install pry
    ERROR:  While executing gem ... (Gem::RemoteFetcher::FetchError)
        bad response Not Found 404 (https://rubygems.global.ssl.fastly.net/quick/Marshal.4.8/pry-0.10.1-x86-mingw32.gemspec.rz)

    X:\Scripts>gem install pry --platfor

[2015-06-26 21:44] dwradcliffe commented on #989
I'm pretty sure this is a client problem, but can you tell me what you get from this:
`ruby -e 'puts Gem.platforms.inspect'`

[2015-06-26 21:51] dwradcliffe commented on #989
Here's more details before I send this back to [rubygems/rubygems](https://github.com/rubygems/rubygems).

The gems you are referencing are actually only available for platforms `i386-mswin32` or `i386-mingw32` (for windows). For some reason, the urls above are for `x86-mingw32`. We've double checked the server and index and everything is consistent there. So it seems like your rubygems client is

[2015-06-26 21:51] #989 closed

[2015-06-27 08:43] u2 commented on #981
#990

[2015-06-29 07:25] anvaka opened #993 "History of rubygems.org"
@qrush: Nick, what was your inspiration when you started rubygems project?

[2015-07-02 17:30] arthurnn commented on #993
I think it started in a RailsConf... @qrush please link any blog post you have in here.. Maybe in the future we could add a INFO page or something.

For now I will close the issue, as it is not an issue.
thanks

[2015-07-02 17:30] #993 closed

[2015-07-02 17:32] qrush commented on #993
I talked about this in 2009. I'd be happy to answer any questions about it, just email me! http://confreaks.tv/videos/rubyconf2009-gemcutter-the-next-step-in-gem-hosting

Also I gave a small update this year at RubyNation...hopefully that will be published soon!

[2015-07-02 18:18] #981 closed

[2015-07-02 18:18] arthurnn commented on #981
thanks all

[2015-07-04 03:52] farukaydin commented on #948
@arthurnn if you didn't started to working on it, I can take a look ?

[2015-07-05 01:37] qhwa opened #1005 "uninitialized constant Api::V1::DependenciesController"
Hi, I'm trying to setup a rubygems mirror with dependencies api requests served.
I was trying to figure out how gems dependencies are computed by playing around this project but got a routing error when requesting `http://127.0.0.1:3000/api/v1/dependencies'

[code]

I found `api/v1/dependencies` declared in `config/routes.rb` but no controller files available.
There seams to be no git submodules h

[2015-07-06 12:42] dwradcliffe commented on #1005
Looks like this is a bug from leftover code. The dependency api is a [separate app](https://github.com/bundler/bundler-api) right now, running on heroku. We proxy requests to the app [from our load balancer](https://github.com/rubygems/rubygems-infrastructure/blob/dc5633b6cbc7cbd95479b1490df2cff0f837766d/cookbooks/rubygems-balancer/templates/default/site.conf.erb#L239-L242).

[2015-07-06 12:45] #1005 closed

[2015-07-06 13:10] qhwa commented on #1005
got it, thanks @dwradcliffe

[2015-07-07 03:22] qrush commented on #949
Sounds good. :+1:

[2015-07-07 03:23] qrush commented on #948
Wow nice catch. Definitely needs some work.

[2015-07-07 03:24] qrush commented on #947
This is still a bug. Why didn't #961 fix it?

[2015-07-07 03:27] qrush commented on #940
I'd make a bigger pitch on the rubygems mailing list if you are interested - this is a pretty significant change and needs more :eyes:.

https://groups.google.com/forum/#!forum/rubygems-developers

[2015-07-07 03:27] #940 closed

[2015-07-07 03:28] qrush commented on #937
Would #945 help?

I think we're in a better spot with regards to our systems + operations - so of course we would consider it if there's a PR!

[2015-07-07 03:33] qrush commented on #906
I added `wiki` a while back as one of the first commits in 2009: 50bc59040ae3876269e3311ee8ba064cc1471ff4

As far as I can recall, the `Linkset` table's purpose was trying to link outside of Gemcutter to external services that RubyForge or GitHub may have provided before. Some projects had a wiki. I thought it might be useful.

Fast forward 6+ years: There's plenty of links to consider now. I'd lo

[2015-07-07 03:33] #906 closed

[2015-07-07 03:33] farukaydin commented on #947
@qrush actually it fixed but we had to revert it because of poor performance. I'll work on this issue with production data.

[2015-07-07 03:34] qrush commented on #899
We've been back and forth on search for years. There's been a lot of proposals and some PRs that have fizzled. I think Google has done a good job but we could do better. It's been hard lately since it's only until recently have we been running at full steam with a team that can handle operations smoothly.

I seem to recall search was in the works - @dwradcliffe maybe i'm thinking wrong? Or are we

[2015-07-07 03:34] qrush commented on #791
Closing until we see something repeatable.

[2015-07-07 03:35] qrush commented on #785
Yikes. Is this still happening?

[2015-07-07 03:36] qrush commented on #778
Is this still happening?

[2015-07-07 03:37] qrush commented on #770
So this design has simmered for quite a few months now. I'm pretty happy with it. Showing the ruby version is already in and done. If there's something more concrete let's crack open a new issue and make it happen.

[2015-07-07 03:37] #770 closed

[2015-07-07 03:38] qrush commented on #732
Looks related to #785. Is this still happening, or maybe Typekit has updated the font? :pray:

[2015-07-07 03:40] qrush commented on #718
Looks like this has fizzled a little. I just remarked on #906 that I would love to see a proposal...and here it is! cc @AaronLasseigne

#724 is a pretty beefy PR. I'll try to work through it too.

[2015-07-07 03:42] qrush commented on #644
What's left on this? Should this issue be in rubygems/rubygems-aws instead?

[2015-07-07 03:42] qrush commented on #583
This has become a big help thread. If you are having trouble with your account, please open an issue at help.rubygems.org and we'll be happy to help you figure it out! Closing this issue for now since it's not related directly to the code/data/etc at the rubygems.org rails app.

[2015-07-07 03:42] #583 closed

[2015-07-07 03:44] qrush commented on #509
:+1:

[2015-07-07 03:47] qrush commented on #424
It wasn't rejected...more like never got off the ground. Closing since it's been stale for a while.

:bread:

[2015-07-07 03:47] #424 closed

[2015-07-07 03:53] qrush commented on #384
We have https://rubygems.org/pages/data now. I'll let @dwradcliffe close this once we have Redis on there for download stats!

[2015-07-07 03:55] qrush commented on #337
I think we permanuked all of these gems right? Is this still an issue?

[2015-07-07 03:55] qrush commented on #313
I am still :+1:. As mentioned in #980, it sounds like a great time to make a v2 API!

[2015-07-07 03:57] segiddins commented on #899
Might I suggest having a look at picky, @floere's gem that powers CocoaPods search?

[2015-07-07 03:58] qrush commented on #899
We had a PR for picky a while ago as well. I'd rather go with whatever search tool our ops team is most comfortable with running.

[2015-07-07 04:02] qrush commented on #324
Blowing some dust off this one. :dash:

This would be nice as a follow up after #724, #728.

[2015-07-07 04:13] qrush opened #1006 "License field should be plural when only one license exists"
For example on https://rubygems.org/gems/phish:

<img width="272" alt="screen shot 2015-07-07 at 12 11 47 am" src="https://cloud.githubusercontent.com/assets/12610/8538601/c9df9088-243c-11e5-9242-78811f93f663.png">

`Version#licenses` is already an array so this should be pretty straightforward. https://github.com/rubygems/rubygems.org/blob/master/app/models/version.rb#L12

[2015-07-07 05:03] knappe commented on #778
@qrush Yes.

Firefox 38.0.5 without Flash installed:
<img width="426" alt="screen shot 2015-07-06 at 11 01 59 pm" src="https://cloud.githubusercontent.com/assets/138048/8539010/0b059db4-2433-11e5-9a66-9a6ed9111edd.png">

I would say this is expected behavior and not a bug.

[2015-07-07 11:28] orta commented on #899
FWIW, I've only dealt with Picky from the creating-a-front-end perspective but it's been a dream to work with. Your dataset is a scale of magnitude larger than CocoaPods' but every time I've wanted to build a feature with search it's turned out well.

[2015-07-07 11:32] jirutka commented on #899
[Picky](http://pickyrb.com/) looks very interesting, but don’t forget to consider performance and scalability. However, [stories](http://pickyrb.com/enterprise.html) on Picky’s website looks promising in this area. I see a downside in that it’s an one-man-show project that is not widely used. However, RubyGems would be a great opportunity to change this…

Another option would be ElasticSearch (it

[2015-07-07 12:05] #337 closed

[2015-07-07 12:11] dwradcliffe commented on #899
There is active development happening on this problem. We're going to use Elasticsearch. Hopefully we'll have v1 ready for review soon!

[2015-07-07 12:20] dwradcliffe commented on #644
Our plan is to shut down the artisanally created mirrors and move more of our traffic behind Fastly's network. This will put more data at the edge locations which should be faster for everyone. This will provide much more value than our mirrors ever did with much greater reliability.

This also paves the way for the new index and dependency api, which is currently under development.

We have a cou

[2015-07-07 13:40] kbrock commented on #718
There are a number of URIs in the rest api. Thought we could just use those keys to pull out of the metadata and fall back to the links table. After a while, just dump the links table and just use the metadata.

This is stalled. Not sure why as I didn't think it introduced anything new or revolutionary. If you could share where you want it to go I can pick back up.

[2015-07-07 13:42] qrush commented on #718
It's not anything new or revolutionary, it's just we haven't had a lot of bandwidth lately to handle big new features. Volunteer-run OSS...FTW? :confounded: Thanks for your patience @kbrock. I'm going to try and review the PRs over the next few days.

[2015-07-07 14:04] kbrock commented on #718
@qrush I guess I was complaining. Sorry.

[2015-07-08 13:28] floere commented on #899
@jirutka @dwradcliffe One man show here… ;) I am looking forward to your first version – curious what you guys come up with with Elasticsearch, especially regarding the the UI. All the best! :)

[2015-07-08 13:32] floere commented on #899
Btw, I believe @karmi once wrote an Elasticsearch version for RubyGems. Perhaps you can profit from his efforts?

[2015-07-08 13:37] #1006 closed

[2015-07-08 13:38] dwradcliffe commented on #899
Yes, @karmi did put a lot of effort into several PRs for this in the past. Unfortunately we didn't take advantage at the time. :disappointed: The ecosystem has changed a bit since then, so we can't directly use it but the current code is inspired by @karmi's original PRs.

[2015-07-08 22:49] jirutka commented on #899
@floere Great to see you here! Please don’t get me wrong with that “one-man-show statement” etc., I really appreciate your work on Picky, love its simplicity and flexibility, and I’d be happy if Picky become more widespread. However, when I look at [contributors graph](https://github.com/floere/picky/graphs/contributors), I’m worried about the future of the project. :(

[2015-07-09 14:59] quentindemetz commented on #644
Over the past couple of days, I've been running into a number of 503 errors when trying to install gems to deploy my application - so much that I haven't been able to achieve a single `bundle install` run without errors.
The errors seem to be coming from Fastly.

Example error messages (from different runs):
**actionview**
[code]
**marginalia**
[code]

[2015-07-09 15:01] dwradcliffe commented on #644
@quentindemetz We're working with Fastly right now to figure out what is happening. Unfortunately I don't have a workaround for you right now. :(

[2015-07-10 02:23] dwradcliffe commented on #791
I was able to get a failing test. Looks like we require redis for gem push to work. Apparently we store version information in redis too?

https://github.com/rubygems/rubygems.org/blob/d41469d2e47517fd0a1d6554ef5e40f5188e8d6b/app/models/version.rb#L317-L320

Seems to track back to this commit: https://github.com/rubygems/rubygems.org/commit/478de56a06be1513061820989affadf9829d99c0

[2015-07-10 14:36] #509 closed

[2015-07-10 23:28] arteezy commented on #785
Yes it is.

[2015-07-11 12:59] dwradcliffe commented on #644
@quentindemetz we rolled out a change yesterday that should have helped

[2015-07-11 18:11] quentindemetz commented on #644
Tried once, it worked flawlessly! Obviously not statistically significant, but I'll let you know if I run into any issues going forward.

[2015-07-14 23:30] floere commented on #899
@dwradcliffe Great to hear you can make use of @karmi's efforts :)
@jirutka No worries mate! :) Sincerely curious what you all come up with!

[2015-07-15 19:17] qrush opened #1018 "Wrong pluralization on profiles#show"
Should be "Total gems" when the count is 1.

<img width="205" alt="screen shot 2015-07-15 at 3 16 49 pm" src="https://cloud.githubusercontent.com/assets/12610/8707574/9acabc4a-2b04-11e5-8e6d-bde03e0f0694.png">

[2015-07-16 06:30] sferik opened #1021 "Can forbidden_yaml.rb be removed?"
At the top of [`config/initializers/forbidden_yaml.rb`](https://github.com/rubygems/rubygems.org/blob/master/config/initializers/forbidden_yaml.rb) is the comment:

That comment was [written](https://github.com/rubygems/rubygems.org/commit/334bff6beb072f17c252dee97a03b5c7b81aef02) by @sj26 on January 31, 2013. I’m pretty sure this problem has been solved in `rubygems` and this monkey patch can be

[2015-07-16 06:45] sj26 commented on #1021
Yeah we should be able to remove this. It's been using Psych's safe_load for a while now by the looks of the history. As long as this test remains green:

https://github.com/rubygems/rubygems.org/blob/723b2bf97af7900c27b6fa59f0b054f543508c29/test/unit/pusher_test.rb#L83-L93

[2015-07-16 06:58] sferik commented on #1021
Is the same true for https://github.com/rubygems/rubygems.org/blob/master/app/jobs/indexer.rb#L79?

CC: @arthurnn

[2015-07-16 07:42] sferik commented on #1021
@sj26 Hmmm…I tried removing it in #1022 but that causes a couple tests to fail: https://travis-ci.org/rubygems/rubygems.org/jobs/71207781.

[2015-07-16 18:42] #978 closed

[2015-07-16 19:03] tenderlove commented on #1021
Looks like RubyGems hasn't been updated to use safe_load.  @sferik can you make a PR for RubyGems that basically ports that monkey patch?  After we push that upstream, we should be able to remove the monkey patch from the RG.org codebase.

TBQH, I'm not sure where we use YAML specs outside of the RG.org server tho.

[2015-07-17 09:00] sferik commented on #1021
@tenderlove Are you suggesting that code actually be removed from `rubygems` (the client) and just added to the server codebase proper, not as a monkey patch. If that’s the better solution, I’m happy to pursue that, instead. I guess the only issue breaking backward-compatibility in `rubygems`.

[2015-07-17 12:46] #1018 closed

[2015-07-19 09:25] sj26 commented on #1021
@tenderlove the gem packages themselves still have a metadata file which is yaml, used by things like `gem install ./blah.gem` on clients.

[2015-07-19 17:44] sferik opened #1027 "Replace as_json with ActiveModel::Serializers"
[Rationale](https://robots.thoughtbot.com/better-serialization-less-as-json)

[2015-07-24 15:04] dwradcliffe opened #1030 "announcements have no styles"
During the redesign it looks like we lost all the announcement styles.

![rubygems org your community gem host 2015-07-24 11-03-22](https://cloud.githubusercontent.com/assets/118850/8877473/acd708c6-31f3-11e5-8fb4-981c69c58e08.png)

[2015-07-27 15:53] arthurnn commented on #1030
what is the link?

[2015-07-27 16:03] spk commented on #1030
I think its an `Announcement` from `paul_revere` gem ? So its on every page when there is something on database.

[2015-07-27 16:21] dwradcliffe commented on #1030
Yep exactly. From rails console: `Announcement.create(body: 'This is a test')` then view any page.

[2015-07-27 23:05] smoak commented on #1027
I am interested in taking on this work. However, the article you linked to talks about [rails-api/active_model_serializers](https://github.com/rails-api/active_model_serializers), but there is also[ActiveModel::Serializers::JSON](http://api.rubyonrails.org/classes/ActiveModel/Serializers/JSON.html) in rails. Which one do you think I should use?

[2015-07-28 07:47] sferik commented on #1027
I think they’re basically the same thing. `ActiveModel::Serializers` used to be a separate project but has since been merged into Rails.

[2015-07-28 10:10] farukaydin commented on #948
@qrush @arthurnn we can remove the lines from both api and ui, but we should also notify users like "gem dependency is removed from rubygems.org" from ui to inform user about why the gem isn't installed. Any thoughts?

[2015-07-28 14:11] arthurnn commented on #948
@farukaydin I didnt start working on it yet...
thanks

[2015-07-28 14:41] bf4 commented on #1027
@sferik Not quite. `ActiveModel::Serializers::JSON` is part of the `ActiveModel::Serialization` interface that mixes in `serializable_hash`, `as_json`, and `as_xml`.   [rails-api/active_model_serializers (AMS)](https://github.com/rails-api/active_model_serializers) has serializers and adapter that use the `ActiveModel::Serializers::JSON`mixin or interface to serialize a resource into json, json-ap

[2015-07-28 14:43] bf4 commented on #1027
(That said, if there's interest, it should be a pretty simple PR.  I'm somewhat active on the AMS 0.10.rcx releases)

[2015-07-28 14:49] sferik commented on #1027
@bf4 Thanks for explaining that! If you’re interested in working on that pull request, I’d say: “go for it!”

[2015-07-28 14:57] bf4 commented on #1027
np, I've been digging into a bit. Fallout from working on a rails-api-based microservices architecture consumed by ember :)

[2015-07-28 17:46] arthurnn commented on #1021
We cannot remove it, see my explnation here https://github.com/rubygems/rubygems.org/pull/1022/files#r35677107

[2015-08-05 17:34] shevegen opened #1037 "Consider adding rubygems version on the right side on a per-project basis"
Hello.

Currently, on a given project, on the right side, we can see something such as:

"Required Ruby Version:

Could, below that, also be added a:

"Required Rubygem Version:

?

This may give people the ability to quickly check out which rubygem version they need prior to installation. Thanks.

[2015-08-07 18:06] qrush commented on #1037
There is a `required_rubygems_version` [part of the gemspec](http://guides.rubygems.org/specification-reference/#required_rubygems_version)...however I have rarely seen this used. Perhaps if you're willing to do a survey of some popular gems and see if it's actually implemented in their `gemspec`, that might be a better argument for including this on the gem page. I'm starting to feel that it's ge

[2015-08-13 07:47] #987 closed

[2015-08-17 18:43] qrush opened #1044 "Profile menu arrow gets stuck below avatar after screen resizes"
Just noticed this on Chrome.

![weird](https://cloud.githubusercontent.com/assets/12610/9312965/3dceb1fa-44ee-11e5-8e01-9b9f573ab282.gif)

[2015-08-27 02:45] huacnlee opened #1052 "Suggest change the gem page layout"
#### Current：

<img width="1063" alt="2015-08-27 10 22 34" src="https://cloud.githubusercontent.com/assets/5518/9511284/89fa2774-4ca7-11e5-886f-93cf57452d97.png">

#### Better:

<img width="1008" alt="2015-08-27 10 31 38" src="https://cloud.githubusercontent.com/assets/5518/9511296/b51053f2-4ca7-11e5-8eda-ad03520cd89a.png">

#### Optimal:

<img width="1001" alt="2015-08-27 10 36 22" src="https://c

[2015-08-27 02:51] indirect commented on #1052
It mostly seems like an improvement to me, although I'm not a fan of the huge empty space in the gemfile and install areas.

[2015-08-30 08:12] linjunpop commented on #1052
:+1:

[2015-09-01 11:27] qrush commented on #1052
Agreed, I'm missing the paste buttons being more prominent. However, the problem still exists where the copy/paste buttons are down low if the gem has a large description/summary.

A rebound: How about moving it above the Required Ruby Version and License? Keeps it "above the fold" and easily accessible, without any wasted space.

<img width="1024" alt="screen shot 2015-09-01 at 7 26 43 am" src="h

[2015-09-01 19:24] #949 closed

[2015-09-01 19:24] andrew commented on #949
:dancer: Thanks @arthurnn!

[2015-09-01 19:49] arthurnn commented on #949
:dancers:

[2015-09-06 05:08] ETetzlaff commented on #972
I see this bug on production, however, when I pulled down the repo and tried to recreate, I was unable to.

To try to recreate I just added the ib gem to the Gemfile on the repo and ran the gemcutter task to load gems into the dev db and then plugged in your url.
http://localhost:3000/api/v1/search.json?query=ib

Results are in the screenshot below.  I'm not sure this is an issue moving forward?

[2015-09-06 12:36] Kapeli commented on #972
Maybe the production server has some setting that limits the results a search/query can return, which debug doesn't?

[2015-09-06 15:09] ETetzlaff commented on #972
It's possible that the production db is doing something, but the query isn't necessarily all that glamorous or complicated so I doubt that a prod db setting is the case here.  After reviewing the logic around it, the only explanation I could have is this (assuming the exact same logic is implemented in prod).

The query logic has a base clause that returns 'ib' in this case, however, there is anot

[2015-09-06 16:01] ETetzlaff commented on #313
This issue hasn't been updated in quite some time, nor have I seen any advancements in the v2 API section.  I'm unclear as to what the game plan is for v2 of the API and currently have a dev version working through v1 of the API since no routes have really been set in stone for v2 it's looking.

I went and reviewed the total count of gems on the site and it's just over 100k, I can't imagine this i

[2015-09-06 17:08] dwradcliffe commented on #313
There are no plans for a brand new v2 api. We are adding v2 api endpoints when we need to change code or functionality. (See #980)

[2015-09-07 16:52] pixelastic commented on #899
Hey guys,

I work at [Algolia](https://www.algolia.com/) and was considering sending you a PR which adds search to rubygems.org. I'm glad I found that topic before starting anything.

We're an hosted search engine, and we've already provided free accounts to popular open-source projects that we use and love. You can see them live on [Laravel](http://laravel.com/docs/5.1), [HackerNews](https://hn.a

[2015-09-08 15:09] ETetzlaff commented on #313
@dwradcliffe Alright that would make sense.  I'm guessing new development should go in there too.  I just don't see any end points in the v2 section already so I'm no sure what the convention is that people are wanting to follow for those end points.

[2015-09-18 04:57] qrush opened #1064 "Bootstrap css warnings on test suite"
Bummer. Making an issue so we don't forget to address it.

[code]

[2015-09-23 22:39] YiniYin commented on #644
fastly seems to be a bit intermittent as I just tried it now and it's gone through where a few minutes ago threw a 503 error.

[2015-09-25 03:46] mtasaka opened #1068 "site shown in Chinese, difficult to read by Japanese"
Accessing https://rubygems.org/ from Japan, site message is shows in Chinese, very difficult to read by Japanese. Also I cannot find where to change language.

[2015-09-25 10:54] indirect commented on #1068
Hello! Rubygems.org is displayed in Chinese only to browsers that request Chinese before English. For example, if I set Chrome to request Japanese, then English, then Chinese, rubygems.org is sent in English.

Please change your browser settings to request English before Chinese to see the rubygems.org site in English.

[2015-09-25 10:54] #1068 closed

[2015-09-30 23:37] farukaydin commented on #947
I worked on this issue and conclude that we're keeping rubygems downloads count in redis as string data like ```"downloads:rubygem:{rubygem_name}" : 1232```. Getting all key values and sorting with ruby is not enough for performance as we saw in previous pr that I submit. We should use redis sorted set like we used to keep version downloads data.

Copying all string keys to sorted set once is firs

[2015-10-02 18:05] zenorocha opened #1072 "Consider switching from Flash to JS for "Copy to clipboard""
I noticed you guys still use Flash for that "Copy to Clipboard" button. What do you think of switching to [clipboard.js](http://zenorocha.github.io/clipboard.js/)? It's IE9+ and gracefully degrades on Safari.

[2015-10-02 18:09] arthurnn commented on #1072
I am ok with that... if we can remove as much flash as possible and things still work i am +1

[2015-10-05 03:40] arthurnn commented on #1052
fixed by https://github.com/rubygems/rubygems.org/pull/1073

[2015-10-05 03:40] #1052 closed

[2015-10-05 14:41] jvanbaarsen commented on #1072
@zenorocha Is this something you're working on? If not I would like to take a stab at this!

[2015-10-05 14:53] jvanbaarsen opened #1075 "Add a way to disable translations"
It would be great to have an option to disable the local translation. Even though I live in The Netherlands, doesn't automatically mean I want to see the website in Dutch :smile:

What do you think about this? And if you're interested, I would like to take a stab at this!

[2015-10-05 15:01] simi commented on #1075
It is already [possible via locale parameter](https://github.com/rubygems/rubygems.org/blob/288d09935cb04cdc9501dcd873d002253c0184fa/app/controllers/application_controller.rb#L17-L18) and it is persisted in session.

You can try:
https://rubygems.org/?locale=en
https://rubygems.org/?locale=nl

I think only the link is missing somewhere on the page.

[2015-10-05 15:51] zenorocha commented on #1072
Hey @jvanbaarsen, I'm not working on this. Go ahead lol

[2015-10-05 16:47] arthurnn commented on #947
I was wondering if we could use Postgres data link feature here. https://blog.codeship.com/heroku-data-links-postgres-redis/ . So we only query Postgres, and it would know the right counter using redis info too.
Besides that, I think we should rollup those counters from redis to DB, in a day-basis maybe.

thoughts? (btw, I can help on this too, if you are busy)

[2015-10-05 20:17] saigkill opened #1076 "You do not have permission to push to this gem"
I asked erich for picking up his project (https://github.com/erikh/hoe-reek).

So i've updated it, and tried to push it. I'm got:

/home/sascha/.rvm/rubies/ruby-2.2.3/bin/ruby -S gem push pkg/hoe-reek-1.1.0.gem
Pushing gem to https://rubygems.org...
You do not have permission to push to this gem.

Exists any way to solve this?

Greetings
Sascha

[2015-10-05 20:19] simi commented on #1076
Let him add you.

details http://guides.rubygems.org/command-reference/#gem-owner

[2015-10-05 20:25] saigkill commented on #1076
Oh easier than i thought. I had informed him. Thanks :-)

[2015-10-05 21:20] #1076 closed

[2015-10-05 21:28] dwradcliffe commented on #1075
Yeah it would probably be good to have a language picker somewhere in the
layout.

On Monday, October 5, 2015, Josef Šimánek <notifications@github.com> wrote:

--
---
David Radcliffe

[2015-10-06 03:25] arthurnn commented on #1075
I would have it at the bottom. maybe a list of links in the footer.

[2015-10-06 06:40] jvanbaarsen commented on #1075
Ok, will send a PR for that this week :)

[2015-10-06 19:21] farukaydin commented on #947
@arthurnn I'm not sure if I work on it within the next days since I've a cold. So feel free to contribute it. Thanks.

[2015-10-06 22:40] jvanbaarsen commented on #1072
@zenorocha / @arthurnn I have been looking at this to implement it. One thing I run into, is that for safari there is only a selection fallback, see: http://zenorocha.github.io/clipboard.js/ in safari for demo.

Would this be an acceptable fallback?

[2015-10-07 13:38] #1075 closed

[2015-10-08 16:34] arthurnn commented on #1072
oww Safari =( . I would say I prefer living the flash option than.

[2015-10-08 18:27] jvanbaarsen commented on #1072
I was thinking the same :-) @arthurnn Can you close this issue? Unless @zenorocha has some compelling arguments against this decision :-)

[2015-10-08 18:38] jvanbaarsen commented on #1064
@qrush I can't seem to be able to reproduce this error when running the tests. So either it has been solved, or I'm doing something wrong. Can you confirm?

[2015-10-08 18:44] arthurnn commented on #1072
thanks @jvanbaarsen for investigating this.

[2015-10-08 19:01] dwradcliffe commented on #1064
I can't reproduce either.

[2015-10-08 19:01] #1064 closed

[2015-10-08 19:04] dwradcliffe commented on #1064
Oh, this is inside the doorkeeper gem in the oath branch. But it's not something we can fix here.

[2015-10-08 19:08] farukaydin commented on #1064
@jvanbaarsen @dwradcliffe I guess it's related with https://github.com/rubygems/rubygems.org/pull/1062 and noted to remember this warnings.

[2015-10-08 19:09] farukaydin commented on #1064
@dwradcliffe I didn't see your last message when I was writing. You're faster :smile:

[2015-10-08 19:13] dwradcliffe commented on #1064
@jvanbaarsen @farukaydin thanks for tracking this down!

[2015-10-08 19:20] jvanbaarsen commented on #1021
@arthurnn Since it turns out we can't remove this, does that mean we can close this issue?

[2015-10-08 20:33] #1021 closed

[2015-10-09 02:46] knappe commented on #384
@dwradcliffe Looks like Redis data is now being shown on https://rubygems.org/pages/data.  Is this good to close?

[2015-10-09 04:33] knappe commented on #778
@postmodern @qrush We have a workaround for [zeroclipboard](https://github.com/rubygems/rubygems.org/blob/78353a6b2a1e2129ff8a00f316cd4987d3f4649e/lib/assets/javascripts/ZeroClipboard.js#L3), if we use [clipboard.js](https://github.com/zenorocha/clipboard.js/), _but_, the reason zeroclipboard uses flash is to avoid [clipboard poisoning](https://github.com/zeroclipboard/zeroclipboard#user-interacti

[2015-10-09 05:28] jvanbaarsen commented on #778
@knappe I did investigate clipboard.js #1072 . Problem with that is that it doesn't work in safari. We decided to put that on hold for now.

[2015-10-09 06:48] knappe commented on #778
Gotcha.  Do we have A) statistics on browser percentages and B) an idea of how many users don't have flash installed (I imagine this is actually really hard to determine).  I'd hazard a guess that the number of users without flash installed, because of the number of security vulnerabilities (https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#tbm=nws&q=uninstall+adobe+flash)

[2015-10-09 08:07] simi commented on #778
I think it will be worth it to hide copy buttons when they're not supported by browser (Sefari) and switch to non-flash solution anyway.

[2015-10-09 08:09] jvanbaarsen commented on #778
@qrush Is there anyway to get those statistics at this point? Of not would you be open to a PR implementing a way to gather those numbers?

[2015-10-09 15:18] arthurnn commented on #778
I would be interested to know what GitHub uses. Maybe we should do the same.

[2015-10-10 09:35] jvanbaarsen commented on #778
@arthurnn When looking at the code it seems like they use zeroclipboard as well. But they don't have any flash on the page. So maybe they created their own version? I also can't seem to find an option in zeroclipboard to make it only use JS.

[2015-10-12 11:01] mcfiredrill commented on #1027
@bf4 Have you got any PRs for this?
I was thinking about working on it.

[2015-10-12 14:41] bf4 commented on #1027
Not as yet but would be happy to pair or coach

B mobile phone

[2015-10-13 01:26] mcfiredrill commented on #1027
@bf4 I noticed most models have `to_xml` and `to_yml` methods as well. Any ideas if we can replace these with something else as well?

[2015-10-13 02:25] bf4 commented on #1027
Ruby libs mix those in (or active::model). Not sure there's any valur if you have to go looking for it

B mobile phone

[2015-10-13 20:53] zenorocha commented on #1072
I think it's a pretty damn acceptable trade-off. You would be dropping a Flash dependency (which is a failed plugin that not as many people have it installed anymore) and 30kb less on each request.

@arthurnn if you haven't seen how this looks in practice, here's an example on Chrome, Opera, Firefox, and IE9+

![supported](https://cloud.githubusercontent.com/assets/398893/10467807/a70efece-71b0-11

[2015-10-14 01:25] dgraham commented on #778
We use the zeroclipboard Flash fallback in IE and Safari and [native copy-to-clipboard](https://gist.github.com/dgraham/cda03d4a4a528d2b4d17) JavaScript in Edge, Chrome, and Firefox.

<3

[2015-10-14 06:26] jvanbaarsen commented on #778
@dgraham Thanks for explaining! I'll take another look at this!

[2015-10-14 06:27] jvanbaarsen commented on #1072
@arthurnn Can you re-open this? @dgraham explained how Github is doing this: https://gist.github.com/dgraham/cda03d4a4a528d2b4d17. I think its worth taking another look!

[2015-10-14 13:17] nateberkopec commented on #969
Example - here's what the Status page looks like if the user stylesheet has set `color` to `pink`:

![screen shot 2015-10-14 at 9 16 24 am](https://cloud.githubusercontent.com/assets/845662/10484666/54b9450e-7254-11e5-96e4-d01d85698014.png)

[2015-10-14 13:21] #1044 closed

[2015-10-15 01:47] gurgelrenan commented on #941
@jdax Did you submit a pull request?

[2015-10-15 14:08] Zanadar commented on #1030
Hey guys.  I just put up a fix for this here https://github.com/rubygems/rubygems.org/pull/1082.

[2015-10-15 17:11] stratigos commented on #972
This does not seem to be an issue due to character length, as the following single-character-named gems all return an exact match when searched against a fresh checkout and fresh db dump (as of today):

`l`, `Q`, `h`, `n`, `j`, `f`, `r`, `-`, `v`,`u`,`g`,`_`, `q`,`a`,`c`,`e`,`b`,`p`,`s`,`w`,`i`, ... etc

While `ib` does return an exact match in localdev, the following two-character-named gems do n

[2015-10-15 19:01] #1030 closed

[2015-10-16 17:04] #969 closed

[2015-10-17 22:05] arthurnn commented on #972
we are adding ES to improve the our search, https://github.com/rubygems/rubygems.org/pull/1085 , Should fix this once that is done.

[2015-10-18 02:20] arthurnn opened #1089 "Fix our download count infrastructure."
### Problem

We need to save download counts for gems in a fast and reliable way.

### Our current setup

 1. https://rubygems.org/downloads/rails-4.2.4.gem will hit our Ngnix.
 1. Ngnix will do a call to [stat-update](https://github.com/rubygems/stat-update/blob/master/stat-update.c) to increment the download count for that gem version.
 1. Ngnix will send back a redirect header with the right CD

[2015-10-18 02:54] arthurnn commented on #1089
Just for the record, @dwradcliffe and I, discussed the option of using the link-redis Postgresql feature. But this is out of the table, as it will add more setup, and also, for been a new feature that as far as I can tell is not well tested at scale.

[2015-10-18 04:11] arthurnn commented on #324
Cool.. I am ok with that, if anyone wnats tosend a PR.

[2015-10-18 04:23] #409 closed

[2015-10-18 05:44] kbrock commented on #324
ugh. thanks for the ping. I'll get back onto this. Would really prefer getting the link references into the gemfile metadata and not specific to this website.

[2015-10-18 15:48] dwradcliffe commented on #1089
Doesn't this mean that every download will make a Postgres update?

[2015-10-18 16:00] arthurnn commented on #1089
Yes, I am sure Postgres is capable of handling those updates, specially because they will be out-of-band, so we can even throttle them if we need to. The number of workers will dictate that update ratio in our DB.

[2015-10-18 16:08] arthurnn commented on #1089
Another option I was wondering we could do, to make the ruby side even easier would be to use something like Sidekiq for the LPOP part.
So the idea would be, the C side, still uses a LPUSH, and pushes the Sidekiq job compatible message, and we would use Sidekiq to pop from that queue. So we could use a code(sidekiq) that it is already been used in production for lots of other companies.

[2015-10-18 22:08] arthurnn commented on #1089
Closing this, as it seems like we are moving away from ngnix and stat-update all together.

[2015-10-18 22:08] #1089 closed

[2015-10-20 12:15] #384 closed

[2015-10-20 16:33] nateberkopec opened #1095 "Consider changing approach to WebFonts"
Currently, I see several problems with the way the main site font, Akzidenz Grotesk, is currently handled on Rubygems.org:

* **Free-as-in-beer or OSS fonts allow more collaboration** Taking a look through #732, you can see that issues with fonts have to go through one person (or a cabal of a few people), the person that has access to the Typekit account. I think anywhere that we can avoid these k

[2015-10-21 00:45] dwradcliffe commented on #1095
I've noticed many times when the page gets stuck attempting to download the font. I would like to see a switch to a font that we could serve ourselves.

[2015-10-21 05:20] bai commented on #1095
Are we really bound to having a custom font? I'm not a designed, but changing a font to Helvetica Neue doesn't seem to make things ugly? And that's win-win: pageloads get 72% faster, fewer dependencies, no weird Flashes of Unstyled Text on slow connections et al.

Not to mention that with growing popularity of content blockers, fonts are getting blocked too (hey, TypeKit tracking pixel!)

Here's h

[2015-10-21 05:37] JuanitoFatas commented on #1095
DockYard. Designed by @acacheung :clap: :blush:

[2015-10-21 12:42] nateberkopec commented on #1095
@bai That works for anyone who has Helvetica Neue installed - so basically anyone on a Mac. Windows is stuck with Arial, and who knows what you'll get on a Linux box. Arial doesn't have a 100-weight version (or 200-weight for that matter), and IMO the light-weight accents are one of the most important parts of the whole design. If I had to guess, Akzidenz was chosen as a sort of "cross-platform He

[2015-10-23 03:17] #899 closed

[2015-10-24 17:36] zenorocha commented on #1072
FYI... Bootstrap 4 is now using clipboard.js ;)

[2015-10-28 16:27] arthurnn commented on #1072
yeah i think i am ok with the trade off. just waiting for someone send a PR :)

[2015-11-06 14:24] j-manu opened #1100 "Gems in S3 buckets are served without Cache-Control headers"
I have been facing some performance problems with fastly and while debugging it, I found that gems in the S3 bucket (which is the origin for fastly) are served without Cache-Control headers

Try `curl -I http://production.s3.rubygems.org/gems/devise_token_auth-0.1.32.gem`

Adding Cache-Control headers should improve caching at Fastly PoPs. There is dramatic difference between a request for gem in

[2015-11-08 01:05] indirect commented on #1100
Nice catch, thanks!

[2015-11-08 02:31] kbrock commented on #324
Seems to simplify things if the gemspec file were the only place to specify rubygem metadata.

If #724 goes through, it would be nice if there were no APIs on rubygems to edit these links. Instead, the author updates the gemspec file with additional information.

[2015-11-09 01:42] olivierlacan commented on #324
I'm kind of into @kbrock's idea of the gemspec as a canonical data store for gem metadata. Perhaps the web UI should educate maintainers on how to properly update metadata via a gemspec update?

And perhaps the API should simply not allow this.

[2015-11-11 18:32] timbreitkreutz commented on #941
It looks like two two commits above (https://github.com/jdax/rubygems.org/commit/002875185a3f2d39506735f7b2b8e1373a9f85c4 and https://github.com/jdax/rubygems.org/commit/819c78f4d257a375747cbab7165d200226734332)  fixed it to me.   Can this be closed?

Screenshot from live site attached

<img width="1014" alt="wide" src="https://cloud.githubusercontent.com/assets/42360/11099315/7e870c1a-885f-11e5-9

[2015-11-11 21:56] nateberkopec opened #1107 "Running the server in production mode locally results in a hang"
Running `SECRET_KEY_BASE=sasds RAILS_ENV=production rails s` locally with a database set up (and Redis running) results in a hang when rendering the homepage:

[code]

...which never finishes.

[2015-11-11 22:29] dwradcliffe commented on #1107
SSL is forced in production, so that one log line is probably the redirect and then your browser errors out trying to connect to https://localhost:3000.

[2015-11-11 22:31] #941 closed

[2015-11-12 13:03] nateberkopec commented on #1107
Ah, it was a redirect, but not an SSL-related one. The `Redirector` Middleware tries to redirect you to `http://rubygems.org:3000`.

I can't figure out how `Gemcutter::HOST` gets set. How do I change that?

[2015-11-12 20:57] dwradcliffe commented on #1107
https://github.com/rubygems/rubygems.org/blob/bab1e6f90ea1f22eece21a57d97d3abcd191eba5/config/rubygems.yml#L18

Why are you trying to run in production mode locally?

[2015-11-12 23:40] nateberkopec commented on #1107
*Aha!*. I'm writing a PR for #1095, and trying to get some numbers on how much swapping fonts reduces total page weight and load time. Running in production mode gives the best analogue (asset compilation being the obvious one) to actual perf on the live site.

[2015-11-12 23:40] #1107 closed

[2015-11-18 04:57] rezam90 opened #1112 "Can't install gems from https://rubygems.org/ source"
I can't install gems from rubygems, but other sources works well with low speed.
it gives me this error:

`gem install grape -V`
[code]
but when I connect through VPN or proxy, installation works correctly.
I'm from Iran, have you guys blocked connections from Iran?

[2015-11-18 11:56] dwradcliffe commented on #1112
We are not blocking Iran. Can you view the website ok?

[2015-11-18 14:30] rezam90 commented on #1112
@dwradcliffe, the website is ok.
I had no problems since about 5-6 weeks ago.

[2015-11-18 16:43] nateberkopec commented on #1112
Diagnosing possible governmental firewalling is way out of my comfort zone, but FWIW, I can make requests successfully to rubygems.org and the production S3 bucket when using an Iranian proxy IP:

[code]

It's interesting that this appears to be failing at the fastly layer for you, @rezam90. The failed request in your shared output above would have been to `https://rubygems.global.ssl.fastly.net/q

[2015-11-18 16:45] nateberkopec commented on #1112
Also, I am not a lawyer, but might this have something to do with [Fastly's TOS](https://www.fastly.com/terms)?

[2015-11-18 16:52] dwradcliffe commented on #1112
A good test might be http://www.fastly-debug.com/

[2015-11-18 18:14] drbrain commented on #1112
It's more likely that Iran blocks access to Fastly.  I believe the Fastly TOS prevents Fastly from selling service to customers in these countries and prevents a customer of Fastly from using Fastly to serve content originating in these countries.

[2015-11-18 19:57] rezam90 commented on #1112
@drbrain, Iran does not block Fastly, blocked websites shows or redirects to a forbidden page. I think it's Fastly that blocked Iran as @nateberkopec said. but
@dwradcliffe, the test stucks in "Collecting data please wait..." with a few details:
[code]
Thank you guys, but any solution for this?

[2015-11-18 20:38] drbrain commented on #1112
None of the Iranian RIPE Atlas probes can connect to Fastly over SSL: https://atlas.ripe.net/measurements/2976639/#!probes

Talking to my coworkers, we don't block inbound requests.  We think Iran's border routers are black-holing SSL traffic to Fastly, but have not investigated further.

You can contact [Fastly support](https://www.fastly.com/support) for help diagnosing this issue.

[2015-11-19 01:28] nateberkopec commented on #1112
(Should one of us be talking to Fastly? @dwradcliffe?)

@rezam90 As a workaround, since the issue is with Fastly over SSL, you can try using a non-secured connection:

[code]

...with all the caveats that entails.

You may also try an SSL connection straight to the Amazon S3 bucket. This will be considerably slower, I think, but at least you'll have a secure connection.

[code]

[2015-11-19 05:48] rezam90 commented on #1112
@nateberkopec, thank you. the non-secured connection using `http://rubygems.org` works great, and I think I'm OK with that. I didn't know I could use the `http` one.

I tried the `https://s3.amazonaws.com/production.s3.rubygems.org` source which caused this error:
[code]
Thanks BTW.

[2015-11-19 16:38] drbrain commented on #1112
I think @rezam90 is the best person to contact support because they can answer the questions Fastly might have.

[2015-11-19 16:40] dwradcliffe commented on #1112
Yep. I'm going to close this issue. Please follow up with Fastly. If you need additional help, please open a help ticket at http://help.rubygems.org/

[2015-11-19 16:40] #1112 closed

[2015-11-20 22:56] olivierlacan opened #1115 "Runtime dependency count"
I was trying to compare two gems recently and expected a runtime dependency count on the gem page but couldn't find one.

I can manually count the dependencies of course but I feel like offering this data (per `Version` of course) could be valuable to API users and end-users of rubygems.org alike.

I can get working on this feature if this sounds reasonable.

[2015-11-20 23:04] dwradcliffe commented on #1115
:+1:

[2015-11-24 12:35] nateberkopec commented on #1095
Closed by #1109

[2015-11-24 12:35] #1095 closed

[2015-11-24 14:53] simi commented on #732
Last deploy fixed this for me.

[2015-11-24 14:54] dwradcliffe commented on #732
@postmodern Can you take a look now?

[2015-11-24 16:07] nateberkopec commented on #785
Since we just use Arial here now, this is fixed. Confirmed on my local Windows PC.

[2015-11-24 16:12] #785 closed

[2015-11-25 07:08] postmodern commented on #732
@dwradcliffe on Firefox 42.0 the font looks muuuuch better! ![Screenshot](http://i.imgur.com/Vgyiu4u.png)

[2015-11-25 07:08] #732 closed

[2015-11-25 13:51] nateberkopec commented on #732
:tada: woop woop!

[2015-11-26 22:07] olivierlacan opened #1123 "Set up Locale for RubyGems.org"
[Locale](https://www.localeapp.com) is a neat way to keep track of translations and localizations: https://www.localeapp.com/projects/370

These are the set up instructions for public projects: https://github.com/Locale/localeapp/wiki/Create-Public-Projects

![image](https://cloud.githubusercontent.com/assets/65950/11431171/cf77de5c-9457-11e5-92af-93dfdcc0d4d0.png)

I don't know if there's a newer

[2015-11-27 04:51] dwradcliffe commented on #1123
I was just wondering if there was a good way to keep track of all these locales. I looked at localleapp just a little bit... looks interesting! I think I would want to only pull in the updates manually so that production has no knowledge of this. That would require also manually pushing translations when we add things, but I think that's ok.

[2015-11-27 04:58] dwradcliffe commented on #1123
FYI current status:
![rubygems org locale 2015-11-26 23-57-18](https://cloud.githubusercontent.com/assets/118850/11434380/742ebf9c-9499-11e5-994e-c3a6f46abf92.png)

[2015-11-27 05:19] olivierlacan commented on #1123
Nice!

[2015-11-27 13:24] arthurnn commented on #1100
@dwradcliffe can you change this config?
thanks @j-manu

[2015-11-27 13:34] dwradcliffe commented on #1100
Yeah I've been working on it. It's not as simple as it sounds. Hopefully next week.

[2015-11-27 14:29] arthurnn commented on #1100
thanks @dwradcliffe . ❤️  ❤️  ❤️

[2015-11-27 15:42] arthurnn commented on #324
if we do this, we will have 2 different canonical data stores, which is not ideal.
I think the idea is to start moving this data to the gemspec file, which we are parse and save that in the version. I think, at some point, we should stop allowing to edit that data in rubygems.org and just use the metadata.

[2015-11-27 15:42] #324 closed

[2015-11-27 16:09] #948 closed

[2015-11-28 16:23] arthurnn opened #1127 "Move metadata from Linkset(rubygems.org table) to gemspec"
There are a lot of other threads that discuss this, but I wanted to create one issue with all the ideas and drawbacks here, so the community can take a conjunction decision.
### Current state

We have a table called [linksets](https://github.com/rubygems/rubygems.org/blob/5d93e745e22e102d1d1471f45a8d912a27f7dbbd/app/models/linkset.rb), which belongs to a gem. That table holds a few metadata for th

[2015-11-28 18:03] kbrock commented on #1127
thanks @arthurnn - I think you summarized this well.

Addional note, updating the `homepage` link required an update to the gem. The change here would require an update to the gem to update the other links aswell.

[2015-11-28 18:05] dwradcliffe commented on #1127
Yes important to note that we currently have a mix of both but it's not consistent.

[2015-11-28 19:34] nateberkopec commented on #1123
:+1: Was definitely feeling the need for something like this.

[2015-11-28 19:37] olivierlacan commented on #1123
This is now public here so I'm closing: https://www.localeapp.com/projects/8883

[2015-11-28 19:37] #1123 closed

[2015-11-28 19:38] olivierlacan commented on #1123
@dwradcliffe Is there something needed to push new translations? A key of some sort?

[2015-11-29 02:34] qrush commented on #1127
Regarding:

I don't think this is a huge -1 for going forward with this plan. We've long treated gems like they are immutable once pushed up to the server. This is a step towards treating the gem's URLs the same way. I think we might see a small increase in the amount of support requests but as long as we have solid documentation + a good blog post explaining why, I think that's an OK compromise.

[2015-11-29 10:45] jimmycuadra commented on #1127
I have no objections to this plan. Sounds like a nice improvement!

[2015-11-29 21:19] kbrock commented on #1127
@qrush If this data is extracted from the metadata, do you still want a model? (albeit a non AR model)

[2015-12-02 13:26] farukaydin opened #1136 "dependency name constraints"
Detail information about why we need it can be found here: https://github.com/rubygems/rubygems.org/pull/1046

I start to work on it. Firstly, I divide the processes as fix 49 edgecases, add necessary custom constraints to db and/or activerecord, and write necessary tests to make sure it's working correctly.

However, I encountered there is a resolving/unresolving dependency process inside of code

[2015-12-08 16:44] voxik opened #1144 "api/v1/activity/latest.json does not work"
Querying API for recently added gems, this is first entry I get:

[code]

Querying more information about that particular gem, it can't be true that this is one of the latest gems:

[code]

IOW, it appears that the ```api/v1/activity/latest.json``` API is broken ATM:

[code]

[2015-12-08 16:55] dwradcliffe commented on #1144
ping @arthurnn

[2015-12-08 19:24] arthurnn commented on #1144
it should be fixed by https://github.com/rubygems/rubygems.org/commit/3c7eb20de47936d939c45793d446b8ea66f92ada , which i just deployed.
Thanks for letting us know! ❤️

[2015-12-08 19:24] #1144 closed

[2015-12-09 09:33] voxik opened #1145 ""latest" RSS feed seems to be truncated"
Looking at [latest](http://feeds.feedburner.com/gemcutter-latest) RSS feed, it is truncated just to a few entries from the beginning of the day. For example, last entry from the RSS feed is:

[code]

Comparing with api:

[code]

And there are more recent entries. I'd say that the feed should correspond to the API entries.

[2015-12-13 14:38] v-leonhou opened #1148 "gem install jekyll command does't work..........."
when i succeed installed the ruby enviorment on my windows 10 machine and try to install jekryll next ,
i got the error in my command line

ERROR:  Could not find a valid gem 'jekyll' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - Errno::ECONNRESET: An existing connection was forcibly closed by the remote host. - SSL_connect (https://rubygems.org/latest_specs.4

[2015-12-14 00:40] #1148 closed

[2015-12-15 03:38] dwradcliffe opened #1150 "all assets are not compiled on one app server"
On one app server `app01.production.rubygems.org` only some of the assets are compiled. The other app servers have all the assets. The manifest files do not match.

@arthurnn

[2015-12-18 18:34] janko-m opened #1152 "The latest version of the "down" gem cannot be downloaded"
I wrote a gem called "[down](https://rubygems.org/gems/down)" some time ago, and releases were working good. However, today when I've pushed the latest version 1.0.5 (it was 20 minutes ago) I cannot download it, even though RubyGems.org confirms the latest is 1.0.5:

[code]

[2015-12-18 19:20] janko-m commented on #1152
After 1 hour it started working, it can be downloaded now. I will leave this open in case this delay can be debugged.

[2015-12-24 16:04] dwradcliffe commented on #1127
I'd love to move forward here, any blockers?

[2015-12-24 23:28] kbrock commented on #1127
@dwradcliffe Please let me know what I can do to help.

I'm sure we could make the interface to linkset better. But you can always improve code.

For me, this feature is more about moving the community to incorporate more urls into the gemspec. Which is an orchestration effort across many related documentation and library projects.

Hope our diligence here will pay off and the integration into oth

[2015-12-27 16:33] qrush commented on #1152
Maybe was a delay with delayed job processing? Weird. Closing this for now.

[2015-12-27 16:33] #1152 closed

[2015-12-27 16:34] qrush opened #1155 "Reserve ruby core lib gem namespaces"
From http://help.rubygems.org/discussions/suggestions/7892-reporting-abuse-on-openssl

I think we should have a "reserved" namespace, and disallow gems to be pushed matching that name. All gems from the stdlib are good candidates for this.

[2015-12-28 01:34] indirect commented on #1155
This seems good--can we just push empty gems with those names for now to reserve them?

[2015-12-28 12:05] dwradcliffe commented on #1155
Should be pretty easy to add a validator for this. Can we compile a list of names here?

[2015-12-28 12:06] sferik commented on #1155
The dependencies of https://rubygems.org/gems/rubysl (minus the `rubysl-` prefix) is a good start.

[2015-12-28 17:08] #1155 closed

[2015-12-28 18:19] balasankarc opened #1157 "Add dependency information to /versions API result"
Hi,
I am a member of the Debian Ruby packaging team and am currently using rubygems API for my project [gemdeps](http://github.com/balasankarc/python-gemdeps). It is a project to collect the dependency chain of a RoR app (like diaspora or gitlab, which we are currently packaging).

Right now, I am using rubygems API to get dependency of the **latest** version of each gem. But, the ideal case is to

[2015-12-28 19:35] mcandre opened #1158 "specs 0.21 gem present from website and some API endpoints but not all API endpoints"
# Summary

I published a new version of my `specs` gem today. I can see the gem available on the RubyGems website, and in the list of available remote gems. But when I try to install it, I either get the old one (v 0.20), or an error about v 0.21 not being found.

https://rubygems.org/gems/specs

# Trace

[code]

# System

[code]

# Mitigation

`gem` can find v 0.21 if I use my Mac's system Ruby.

[2015-12-28 19:41] shevegen commented on #1158
Someone else on IRC also reported the same issue with another game:

<greenhat> was seeing the same issue with rgeo-geojson - cannot install the latest but it is listed on the website

I am not sure if this can easily be resolved, but perhaps if it can not easily be resolved (assuming here), could an icon or something be used to indicate that syncing has not happened yet? Something small like a co

[2015-12-28 19:48] teeparham commented on #1158
I'm also using chruby.

[code]

I tried with ruby 2.2.3 also, so it's not related to ruby 2.3.

Here's a verbose log:

[code]

The gem release appeared to work:
https://rubygems.org/gems/rgeo-geojson/versions/0.4.0

[2015-12-28 19:58] mcandre commented on #1158
Update: `gem install specs [-v 0.21]` now works as expected. Looks like the endpoint just took a few hours to fully sync.

[2015-12-28 20:01] teeparham commented on #1158
Update: working normally for me now too. Thanks, internet!

[2015-12-29 00:10] dwradcliffe commented on #1158
There was a problem with the dependency API earlier today which caused a delay in indexing. There were about 75 gems pushed but not indexed for a couple hours.

You can always check our status page at https://status.rubygems.org or our twitter account https://twitter.com/rubygems_status for latest information.

[2015-12-29 00:10] #1158 closed

[2015-12-29 14:51] Thomas008 opened #1159 "A class is missing in the documentation"
We pushed a gem to rubygems.org, and the documentation does not show a class.
(The gem is called "robust_excel_ole", and the missing class is "Book".)
We have checked this with yard 0.8.7.6. There the documentation book.html is being produced.
What can we change to get the class displayed.
Thank you,
Thomas

[2015-12-29 15:29] dwradcliffe commented on #1159
The documentation is not part of RubyGems.org. You will need to ask http://www.rubydoc.info/ for help with documentation render issues.

[2015-12-29 15:29] #1159 closed

[2015-12-31 15:07] dwradcliffe commented on #1123
Locale App is a good idea but the implementation doesn't work well for our project. There are a few issues that make it hard to use for this so I'm not going to invest any more time to making it work right now.

[2016-01-04 19:58] arthurnn commented on #1155
thanks all

[2016-01-06 23:12] indirect opened #1164 "Versions API is missing some versions"
Bundler API needs these versions, but can't find them in the versions API JSON:

[code]

[2016-01-07 02:28] shevegen opened #1166 "Consider allowing a subcommand for stats/ resource at rubygems.org"
Hello people,

We have this page right now:

https://rubygems.org/stats/

This shows us the top 10.

I am however had also interested in top 20 or top 30.

My proposal is to trigger on:

https://rubygems.org/stats/20

And to show top 20.

You don't have to provide the information for ALL the gems,
but I think top 100 would be nice, or top 50, or even just
top 20.

If this is not worth the time inv

[2016-01-07 02:48] dwradcliffe commented on #1164
@segiddins and I dug into the code a bit and it looks like we're filtering out versions that have a future `built_at` date. https://github.com/rubygems/rubygems.org/blob/47193268cf77aed48443c0c5a82a26855af1ce92/app/models/version.rb#L143

This code goes way back to @qrush in https://github.com/rubygems/rubygems.org/issues/17

[2016-01-07 03:05] dwradcliffe commented on #1166
Hey! We're currently revamping the stats system. Once that is complete we will have more accurate stats to show on this page. At that time I think we can easily expand the stats we expose. Until then I don't want to make any changes because anything else wouldn't be accurate. Thanks for the suggestion!

[2016-01-07 18:18] #1164 closed

[2016-01-08 03:53] indirect commented on #1164
is this deployed? I'm still seeing this error as of 30 minutes ago

[2016-01-08 12:48] ken-sands commented on #391
or url encode that backslash using %5C as below

http://DOMAIN%5Clogin:password@192.168.205.2:8080

[2016-01-08 13:52] dwradcliffe commented on #1164
Deployed last night, about an hour after you saw the errors. Should be fixed now.

[2016-01-08 19:43] DamirSvrtan opened #1169 "Redis version_history data truncated"
It seems all data in Redis for `rubygems:downloads:version_history` that happened before 2014-07-14 has been wipedout.

Am I seeing everything clear or am I missing something?

And if that's true, is there any other way of retreiving downloads stats besides those two ways?

I see there's a version_history model but it's data also seems incomplete - there's no version_history data for Rails nor Rak

[2016-01-11 18:49] arthurnn opened #1171 "Same version date"
I just noticed, that for some reason, all the versions of this gem are marking the same date:
https://rubygems.org/gems/apn_sender

Not sure why this is happenin

[2016-01-11 18:51] dwradcliffe commented on #1171
The date is set by the person who built the gem, and we allow any date to show on RubyGems.org. It's certainly not helpful to always use the same date, but (at the movement) it's allowed.

[2016-01-11 19:18] arthurnn commented on #1171
Correct, I just removed the date from the gemspec https://github.com/arthurnn/apn_sender/commit/af603c069019dd3930f1cfedf101747923752b98 and it worked. I wonder if we should keep allowing this behaviour or change it?
Maybe we should not do anything about it, but it does seems strange

[2016-01-11 19:20] dwradcliffe commented on #1171
Maybe we should also display the uploaded date if it's not within a day of the build date?

[2016-01-15 03:30] dwradcliffe opened #1175 "add missing apple-touch-icon.png"
We're missing the `apple-touch-icon.png` file and a few other variations. We get a lot of requests which result in 404s so we should provide these icons.

[2016-01-15 13:35] EtienneDepaulis commented on #1175
http://iconifier.net/ is pretty useful to create all the variations in one clic :)

[2016-01-15 13:43] dwradcliffe commented on #1150
I tried again and it seems to be working fine now.

[2016-01-15 13:43] #1150 closed

[2016-01-15 16:20] arthurnn commented on #1150
w00t.. OK .

[2016-01-15 16:44] davidcelis commented on #1175
It might be worth mentioning that it's unlikely for these 404 requests to actually be from someone adding rubygems.org to their home screen. Safari, even on the desktop, will always try requesting apple-touch-icon.png for some reason. I wrote [a small library like quiet_assets](https://github.com/davidcelis/quiet_safari) to remove these 404s from logging as most of them just don't make sense.

Of

[2016-01-25 04:13] arthurnn commented on #1175
We use quiet_assets https://github.com/rubygems/rubygems.org/blob/master/Gemfile#L56 on development already. Maybe we want to promote that dependency?

[2016-01-26 12:50] vassilevsky commented on #725
Did the team accomplish anything?

[2016-01-26 13:19] qrush commented on #725
The app lives on at https://github.com/rubygems/adoption-center. it's still a concept I would like to see continue and shipped.

[2016-01-27 02:25] vincedevendra commented on #1072
Didn't mean to double up on this.  Didn't see PR #1072 on this. I'll take a look at it and see if there's any important differences.

[2016-01-28 05:39] sibinx7 opened #1183 "Refused to execute script from 'https://rubygems.org/api/v1/owners/{user}/gems.json' because its MIME type ('application/json') is not executable, and strict MIME type checking is enabled."
I have this issue while i send ajax request to fetch some repo details, When i use GET, i got some
`“No 'Access-Control-Allow-Origin' header is present on the requested resource”` error method,

[code]

[2016-01-28 05:41] simi commented on #1183
probably related to https://github.com/rubygems/rubygems-infrastructure/pull/31

[2016-01-28 05:44] sibinx7 commented on #1183
@simi  Is there any solution from client side to solve this issue ? or is it a server side issues?

[2016-01-28 05:45] simi commented on #1183
Meanwhile you can use some CORS proxy. You can try to build some own or use some public available service like https://crossorigin.me/.

[2016-01-28 05:47] sibinx7 commented on #1183
Thanks @simi

[2016-01-28 05:47] #1183 closed

[2016-01-28 10:04] JuanitoFatas opened #1184 "Gem::RemoteFetcher::FetchError"
https://rubygems.org/gems/web-console

Error Log:

[code]

[code]

verbose `gem install`:

[code]

`curl -i *.gemspec.rz`:

[code]

`curl -i *.gem`:

[code]

My `gem env`:

[code]

If you want to try to reproduce this, I prepare a [repo](https://github.com/JuanitoFatas/gem-fetch-error-20160128).

Please take a look, thank you.

[2016-01-28 10:07] JuanitoFatas commented on #1184
Bundler resolved to a non-existing (or removed version), close this.

[2016-01-28 10:07] #1184 closed

[2016-01-29 13:49] WimTenBrink commented on #1112
Guys, read http://knowledgelayer.softlayer.com/faq/softlayer-network-wide-ip-blocking
IBM Softlayer recently started blocking several states including Iran. It could be that several sites are within the Softlayer IP range and are thus using Softlayer as ISP.

[2016-01-29 13:51] dwradcliffe commented on #1112
I'm not sure what Softlayer has to do with this. We don't use Softlayer or Softlayer IPs.

[2016-01-29 14:01] WimTenBrink commented on #1112
It could be that Amazon is doing the same. As a result, several foreign states would be blocked by the ISP.

[2016-02-01 19:21] indirect commented on #863
@acacheung hey, did you by any chance manage to wrap up the blog redesign? I realize it's been a while, but our original plan did include a new design for the blog...

[2016-02-02 20:01] arthurnn commented on #863
Should I reopen this? as there is no issue tracker in the other repo?

[2016-02-06 17:53] ajb opened #1190 "Reserved gem name issues"
(Moved from https://github.com/rubygems/rubygems/issues/1474)

Hi there,

I'm trying to publish a new version of Sync: https://github.com/chrismccord/sync/releases/tag/v0.4.0

However, despite being an owner, I'm getting this error:

<img width="671" alt="screen shot 2016-02-06 at 8 59 39 am" src="https://cloud.githubusercontent.com/assets/1270317/12867014/fbffadfc-ccaf-11e5-999d-8464938d331f.png"

[2016-02-06 17:54] ajb commented on #1190
From https://github.com/rubygems/rubygems.org/pull/1156#issuecomment-180770630:

[2016-02-06 21:12] connorshea opened #1191 "Gemfile line suggested for pre-release versions is invalid"
The RubyGems page for [Devise 4.0.0.rc1](https://rubygems.org/gems/devise/versions/4.0.0.rc1) suggests adding `gem 'devise', '~> 4.0', '>= 4.0.0.rc1'` to the Gemfile in order to install that specific version of the gem. Bundler gives me the following:

[code]

This might technically be a Bundler issue, but for the time being RubyGems probably shouldn't suggest that, would confuse other users. `gem

[2016-02-06 22:06] dwradcliffe commented on #1191
Cc: @indirect

[2016-02-08 20:18] #1190 closed

[2016-02-08 20:20] arthurnn commented on #1190
@ajb As you can see, I removed `sync` from the list of private names. I added a warning to add it back on May 1st, 2016. So that gives you almost 3 months to rename the gem.
Thanks for reporting the issue.

If I find some spare cycles I can help out on renaming it. What is the desired name from your part?

cheers.

[2016-02-08 22:24] ajb commented on #1190
@arthurnn thank you! I'll make sure this gets discussed over in chrismccord/sync#215.

[2016-02-09 00:09] johnnyshields opened #1192 "Smoother handling of yanked gems"
Firstly apologies if this is not the right repo to raise this issue.

I recently encountered this error due to a yanked gem.

[code]

It would be nice if there could be a message indicating that the gem was yanked. One option would be make the file on the CDN a dummy text file with the word "yanked" or something. The error message to me above indicates that there might be an infra problem with Rub

[2016-02-09 00:13] johnnyshields commented on #1192
Hmmm maybe this was a one-off issue with a bad upload of the specific lib: https://github.com/nex3/rb-inotify/issues/52. Please close this issue if there's nothing to be improved on Rubygems.org side...

[2016-02-09 02:28] dwradcliffe commented on #1192
Thanks for mentioning this. We had a storage configuration problem that caused missing files to return as 403s. This should have returned a 404, and will now.

I'm not sure exactly what happened with 0.9.6 originally but it's yanked now and will return a 404. Depending on your Gemfile, bundler shouldn't suggest that a yanked version is available in the first place.

[2016-02-09 02:28] #1192 closed

[2016-02-09 02:32] johnnyshields commented on #1192
OK got it thanks!

[2016-02-10 02:32] indirect commented on #1191
pretty sure this is how prereleases have always worked, since 4.0.0.pre is (I think) lower than `~> 4.0`. This looks like it's a bug in the suggested Gemfile line.

[2016-02-17 16:52] arthurnn commented on #1072
fixed by https://github.com/rubygems/rubygems.org/pull/1182 .

thanks everyone ❤️  great work on this

[2016-02-17 16:52] #1072 closed

[2016-02-17 16:56] zenorocha commented on #1072
Awesome! Is it live already?

[2016-02-17 17:03] arthurnn commented on #1072
it is now 🎉

[2016-02-17 17:04] arthurnn commented on #778
We moved to clipboard js. I guess this should be fixed now. Please re-open if not.

[2016-02-17 17:04] #778 closed

[2016-02-17 17:26] zenorocha commented on #1072
yay!

[2016-02-23 15:30] acacheung commented on #863
@indirect @arthurnn will take a look soon!

[2016-02-27 13:39] dwradcliffe opened #1208 "Remove redis"
We would like to remove redis from the RubyGems.org infrastructure. It has been painful to run and it's a dependency that we don't need. We want to store the gem download stats in postgres, which will be much easier and faster. This is related to rubygems/rubygems-infrastructure#35 but this is a separate task.

Here's what I think we need to do:

- [x] add any database columns necessary to store n

[2016-02-27 14:29] simi commented on #1208
Is there more info available related to this part?

[2016-02-27 14:50] dwradcliffe commented on #1208
Our data set was* about 26G which requires a lot of memory to run, and redis doubles memory usage while it saves. It takes about 10-15 minutes to load the data so restarts are really painful. Sometimes when it does start it just OOMs right away and kills the box. We had an hour outage a few weeks back because redis would not boot up properly. Also we don't want the website to be dependent on 2 dat

[2016-02-27 15:01] arthurnn commented on #1208
I started working on this , for the stats pipeline.. I will post more info, why I think we can remove redis from there, in my PR.

[2016-02-27 16:43] nateberkopec commented on #1208
May be worth doing this in a separate table to minimize locking.

[2016-02-27 21:54] technoweenie commented on #1208
You can use the slotted counter pattern to reduce the locking even further. Works well for us.

http://samlambert.com/posts/mysql-slotted-counter

[2016-02-28 13:07] skottler commented on #1208
First off, let me just say this: **yes**. Getting rid of Redis is something I've wanted to do for a long time; it's been a significant burden on the infrastructure and it's finally time for it to go.

Is it necessarily required to do this via Postgres? I'd love to see us map out some of the data storage requirements so we can figure out if there might be a better fit.

[2016-02-28 13:39] dwradcliffe commented on #1208
@skottler here's our previous discussion about that https://github.com/rubygems/rubygems-infrastructure/issues/35

[2016-02-28 16:52] swills opened #1210 "Gem 2.6.1 release is 404"
https://rubygems.org/pages/download points to https://rubygems.org/rubygems/rubygems-2.6.1.tgz but it's 404

[2016-02-28 21:20] dwradcliffe commented on #1210
Yeah, something went wrong with this release but it should be working now. Sorry for the trouble!

[2016-02-28 21:20] #1210 closed

[2016-03-01 20:44] rafaelfranca opened #1212 "Test this project with Rails 4.2.6.rc1"
Hi team,

we just released Rails 4.2.6.rc1. To help us to find regressions, and make the final release
awesome for everyone, I'm here humbly asking you to test your project with this
Release Candidate.

We are planing the final release to 2016-03-04, so it would be great if
you test it before this date.

If you find any regression please open an issue on GitHub mentioning me and with the title sta

[2016-03-02 03:08] arthurnn commented on #1212
done here https://github.com/rubygems/rubygems.org/pull/1211

[2016-03-02 03:08] #1212 closed

[2016-03-04 17:58] chasecoolman opened #1213 "Update blog with the new design from rubygems.org"
Originally mentioned here https://trello.com/c/qI86IUdL/53-update-blog-rubygems-org-with-the-new-design-from-rubygems-org by @arthurnn @anatolinicolae

blog.rubygems.com is outdated and no longer matches the rest of the site.

[2016-03-04 18:04] dwradcliffe commented on #1213
Duplicate of #863

[2016-03-04 18:04] #1213 closed

[2016-03-04 18:04] dwradcliffe commented on #863
ping @acacheung

[2016-03-05 16:17] acacheung commented on #863
@arthurnn @dwradcliffe https://github.com/rubygems/rubygems.github.com/pull/22 !!!

[2016-03-07 16:22] chasecoolman commented on #863
This has been resolved thanks to @acacheung

[2016-03-07 16:37] #863 closed

[2016-03-08 04:56] ghost opened #1217 "Add a "recent uploads", last 10 programs"
Hello.

I was looking at CPAN lately:

http://www.cpan.org/

You can see in the middle part a "Recent Uploads" section.

I tried to find the same on https://rubygems.org/ or https://rubygems.org/stats but I could not find such an entry.

Now, rubygems already has this available on twitter, interestingly enough:

https://twitter.com/rubygems

This is ok; you can see the last entries there too. But

[2016-03-08 12:05] dwradcliffe commented on #1217
Sure, sounds useful to me. And I agree, not on the home page.

[2016-03-10 17:54] tomasibarrab opened #1218 "Change from .erb to .haml to facilitate code reading."
I have used HAML on my RoR projects and i've found very easily to read HTML code with Ruby using this gem, i think it would be more readable for developers using it.

[2016-03-10 18:07] dwradcliffe commented on #1218
Thanks for the suggestion but we're going to stick with ERB. HAML can be useful but ERB is more widespread, slightly simpler, and closer to the vanilla rails way. I'm sure there are lots of people with lots of good opinions about this but I'm going to close this now because I don't want to start a big bikeshed discussion about it.

[2016-03-10 18:07] #1218 closed

[2016-03-13 16:35] balasankarc commented on #950
@farukaydin @andrew  Any plan on implementing this? I am also waiting for such a feature.

[2016-03-19 14:40] SuriyaaKudoIsc opened #1223 "Availablity of locale "de""
When will be the **German**-translated RubyGems website for everybody available: https://rubygems.org/?locale=de-DE?

[2016-03-19 14:41] nateberkopec commented on #1223
As soon as you submit a pull request! ;)

There is no designated or special "team" working on translations, we just accept them as they come in.

[2016-03-19 14:51] SuriyaaKudoIsc commented on #1223
@nateberkopec I already submited a PR (#1140). :smile:

[2016-03-19 15:00] dwradcliffe commented on #1223
Ah, we just needed to add it to the list of available locales. I've added it here: https://github.com/rubygems/rubygems.org/commit/e1456a67c9b10634ad1d5e6e4e98653d276a63f9

[2016-03-19 15:01] SuriyaaKudoIsc commented on #1223
@dwradcliffe :+1: Thanks.

[2016-03-19 15:01] #1223 closed

[2016-03-19 15:02] SuriyaaKudoIsc commented on #1223
When will this updated with the website?

[2016-03-19 15:02] dwradcliffe commented on #1223
Should be deployed in the next hour or so.

[2016-03-19 15:04] SuriyaaKudoIsc commented on #1223
:+1: Thanks for the information! :smile:

[2016-03-21 09:53] andrew commented on #950
@balasankarc I've not had time to pick this up yet, feel free to take it on instead.

[2016-03-21 11:30] balasankarc commented on #950
@andrew  Let me see if I can. I am not a Ruby/RoR developer by profession, so there are chances of me making a mess. :) . Let me try to read/understand the code.

[2016-03-23 14:31] dwradcliffe commented on #1169
At this point we are only storing download totals and not per-day stats. Any per-day stats found in redis will go away at some point in the future. Sorry!

[2016-03-23 14:31] #1169 closed

[2016-03-23 14:32] dwradcliffe commented on #791
Here's another case of this: https://github.com/rubygems/rubygems/issues/1564

[2016-03-23 17:16] nateberkopec opened #1226 "Is allowing "gem yank" to free the gem namespace a security concern?"
## Problem

Yesterday, a programmer with over 200+ modules on npm [yanked all of their modules from NPM](https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c#.amncj6buu), freeing the module namespaces.

[The vast majority of those freed module names (most of which are very generic - names like `alert` and `attr`) have been claimed by a single person.](https://www.npmjs.com/~nj4

[2016-03-23 17:30] evanphx commented on #1226
@nateberkopec It's certainly a concern though in that case I think that the responsibility for the situation would lay with the ragequitter and the attacker. But thats not a satisfactory answer because the question is rather what can/should Rubygems.org do to mitigate that case.

The ragequitter has basically forfeit the name entirely even though he/she knows that the gem is heavily used. That per

[2016-03-23 17:39] qrush commented on #1226
This isn't possible thanks to the way RubyGems.org is designed. Gem versions are immutable even after all versions are yanked.

I feel a heuristic should be interested to decide when a gem is "depended on" that is a mix of download count + number of dependencies. If that heuristic is true for a gem - then if all gem versions are yanked, "freeing" the namespace, then we won't allow pushing of any n

[2016-03-23 17:47] qrush commented on #1226
Was reminded of this, too: Namespaces and subdomains have been proposed a few times. They didn't seem to have worked out. Lots of backstories here:

https://groups.google.com/forum/#!topic/rubygems-org/mER9nLiJito
https://github.com/rubygems/rubygems.org/issues/91
http://rubyforge.org/pipermail/rubygems-developers/2009-August/004897.html

Granted, this doesn't mean they aren't on the table. But it

[2016-03-23 17:57] evanphx commented on #1226
namespaces fundamentally  change how rubygems works so it's not really a change I want to do.

[2016-03-23 19:19] #791 closed

[2016-03-24 11:52] nateberkopec commented on #1226
[npm has published their post-mortem](http://blog.npmjs.org/post/141577284765/kik-left-pad-and-npm).

[2016-03-24 12:37] qrush commented on #1226
Yesterday @drbrain floated the idea where we would require someone to contact us via help.rubygems.org to take over a gem that has been fully yanked.

Usually this happens anyway- someone wants to give a namespace over so we will add the new owner with their permission via the Help site. Of course, this would be less self service and be subject to the same delays our support queue has already (and

[2016-03-24 12:47] sgrif commented on #1226
Is a gem being fully yanked and then transferred a common enough occurrence that the support burden is a major concern?

[2016-03-24 12:52] stevenhaddox commented on #1226
Just out of curiosity, say the Ruby community (or any Rubyist) started using signed gems, would a new author pushing a new version of a yanked gem install automatically through bundler or would the key changing to a new user's signature (or a lack of signature) prevent that gem from being installed?

[2016-03-24 12:58] qrush commented on #1226
@sgrif it's rare, but historically our response time can very from weeks to over a month.

@stevenhaddox I think signed gems is an orthogonal problem. As noted above gems are immutable, so it's not possible **ever** to overwrite a gem version.

[2016-03-24 13:04] stevenhaddox commented on #1226
@qrush: right, I meant more so would the removal of a signature or the changing of a signature from a new gem version (when one existed previously) cause the gem install process to fail automatically until the new signature (or lack thereof) was explicitly approved (in the current code base)?  Sorry if I wasn't more clear about the scenario, definitely talking about a new version of a previously e

[2016-03-24 13:07] derekprior commented on #1226
Is prohibiting yanking all together something we should consider?

The problems that yanking solves seem to be:

1. Giving over ownership of of squatted/little-used gem name to someone else for a different project.

2. Pulling a release that ha drastic problems (security issue, bad release or something).

3.  This relatively new "I quit and don't want anything I do associated with your package man

[2016-03-24 13:11] stevenhaddox commented on #1226
I'm a *huge* fan of being able to yank versions for security concerns and feel this supercedes any other issues that could occur as a result.

I'm also a huge fan of being able to remove my code from RubyGems should I ever want to quit. Just because it's OSS doesn't mean I necessarily want it published on RubyGems and I should be allowed to remove it as the author if I so choose. Also remember a l

[2016-03-24 13:16] qrush commented on #1226
IMO removing yanking is not on the table. It's a community requested and vetted feature that we have iterated on over the years, most recently [to add permadeletion](http://blog.rubygems.org/2015/04/13/permadelete-on-yank.html) and keep an audit trail.

[2016-03-24 13:25] dwradcliffe commented on #1226
I have two proposals:

* Gem yanks will only be allowed if the version has less than 15,000 downloads. This will allow relatively unused gems to be yanked freely, while popular gems will have a shorter period of time to realize they have a legit reason to yank. (We can iterate on this threshold if it is not quite right.)
​
* When a gem author yanks all versions of a gem, one of two things will hap

[2016-03-24 13:26] swalberg commented on #1226
@dwradcliffe Rather than requiring operator intervention to take over a namespace that's been abandoned, what about an N-day waiting period? It would give people who use it a chance to raise it as a problem, and if the waiting period expires, it was probably not a well used gem anyway.

[2016-03-24 13:34] stevenhaddox commented on #1226
@dwradcliffe, @swalberg : I love the second idea of a cooling off period once a gem has been yanked before automatically releasing it... that would allow any critical gems to be exposed and fixed throughout most of the community while avoiding the needs and extra support requirements on the RubyGems team.

I'm strongly against the first step suggested. I still feel yanking any version of a gem is

[2016-03-24 13:35] dwradcliffe commented on #1226
Good idea @swalberg, I've updated by comment above.

[2016-03-24 13:38] pallan commented on #1226
Can you watch the downloads trend? As long as there are X downloads per N time period the namespace remains locked. Once that drops below a certain threshold you add the cool down period of Y-days the open up the namespace.

@dwradcliffe I would only worry that a popular gem that is less than 1 month old that gets suddenly yanked would get its namespace grabbed. Option (ii) may be a better solutio

[2016-03-24 13:41] stevenhaddox commented on #1226
Also, since this particular point hasn't been brought up, does RubyGems have a policy on "un-un-publishing" a gem? Can we get a clear policy in writing for the community one way or the other?

For the record, I'm strongly against un-un-publishing a gem, but if you are going to support that feature(?) then definitely get something in an official Terms of Service in writing to cover your butts. The

[2016-03-24 13:50] krainboltgreene commented on #1226
I believe the answer to that @stevenhaddox lies somewhere in how RubyGem decides handles "Code Commons". If half the community starts to falter because of a single library being unpublished I don't think we can honestly say that library isn't a part of a "de facto stdlib", regardless of what cruby & co. authorize.

As soon as we admit that there are just some libraries everyone needs to exist (thr

[2016-03-24 13:51] dwradcliffe commented on #1226
@stevenhaddox We're working on finishing up the official policies

[2016-03-24 13:52] dwradcliffe commented on #1226
@pallan One a gem is yanked the downloads become unavailable, so we can't see download statistics.

[2016-03-24 13:58] nateberkopec commented on #1226
Most gems released to Rubygems.org will be under free software licenses, which grant the right to redistribute. The GPL, for example, gives an *irrevocable* right to redistribute verbatim copies of the work. When a gem version is yanked which is not under a free software license, well that's where things get interesting. Currently, I don't think Rubygems would have the legal grounds to un-unpublis

[2016-03-24 14:00] tom-lord commented on #1226
I feel a simple, manual solution should be implemented at first - at least until we have a better idea of the problem's scope.

For example, a dead simple rule like "After a gem gets fully yanked, notify X and don't let anyone take over the namespace for Y days". Perhaps with some slight variation, depending on how old/popular the gem is.

See how it goes, then re-review the process in a while.

[2016-03-24 14:06] stevenhaddox commented on #1226
Also, I feel like it's worth a reminder that the best practice I've encountered in ruby world (as far I understand it) has always been to bundle package your gems to vendor/cache as part of your deployment process which helps prevent a lot of issues in production that I've seen some npm users having to deal with.

Realistically, if a Rubyist is deploying with bundle package, a gem yank shouldn't b

[2016-03-24 14:11] mark commented on #1226
I strongly support adding a TOS which includes granting rubygems an irrevocable right to redistribute verbatim copies of the work.  Having to figure out the licensing terms of how your gem dependencies—and your gem dependencies' dependencies—released their code, especially in the (presumably usual) case where the authors don't particular care about the details, isn't worth requiring developers to

[2016-03-24 14:21] stevenhaddox commented on #1226
@mark: The problem with this scenario is that technically you've just voided the purpose of yanking a gem, period. RubyGems could republish a version of a gem with a security issue or a private key without your consent and there'd be no recourse. I'm not saying that shouldn't be an option, but there's more to the scenario than just "if they rage-quit." And describing rage-quit in legalese is a bit

[2016-03-24 14:27] mark commented on #1226
If I didn't trust them not to do that, I wouldn't push a gem in the first place.

Why would you need to describe rage quitting in legalese?  If you grant rubygems an irrevocable right to redistribute your gem, they can choose whether to exercise that right or not.  I have confidence that if I accidentally pushed my AWS private key into a gem, and yanked that gem, rubygems wouldn't distrubute it an

[2016-03-24 14:32] stevenhaddox commented on #1226
@mark: That's great that trust them, but not everyone will. What if you had a following out with someone on the RubyGems team?

I'm saying that the policy will have to be the same for *every* gem and you can't easily specify scenarios (legally) like a rage-quit.

When I `yank` a gem I expect the code to be erased from RubyGems' S3 / servers currently (I'd like to hope they wouldn't keep a security

[2016-03-24 14:39] mark commented on #1226
What?  No—reread the terms of the license:

What this means is: you're granting them a right (to redistribute...), and you can't revoke that right.  Once you publish the gem, you can't turn around and tell them that they *can't*.  It makes no requirement anything of them; they can choose whether or not to redistribute, so long as they don't change it (verbatim copies).

[2016-03-24 14:49] stevenhaddox commented on #1226
@mark: Not all gems on RubyGems are GPL. There are copyrighted gems distributed through RubyGems still. Are your statements meant only for gems that are licensed under GPL, MIT, etc? If so that negates my counterpoints. I was referencing all gems of varying license types.

[2016-03-24 14:50] stevenhaddox commented on #1226
Anyway, I think I've voiced my opinion pretty loudly. I'll probably bow out now to avoid too much clutter from others who want to contribute. Sorry I spammed so much, that certainly wasn't my intent and thanks so much to everyone for sharing opinions and thoughts on this important topic (and esp. the RubyGems team for being so open and engaging on the matter).

[2016-03-24 14:52] tom-lord commented on #1226
I feel a simple, manual solution should be implemented at first - at least until we have a better idea of the problem's scope.

For example, a dead simple rule like "After a gem gets fully yanked, notify X and don't let anyone take over the namespace for Y days". Perhaps with some slight variation, depending on how old/popular the gem is.

See how it goes, then re-review the process in a while.

[2016-03-24 14:59] kobaltz commented on #1226
I appreciate and love all that rubygems has done.

I think that the cooldown period is a great idea.

This is a bit off topic, but personally, I would suggest that people use a proxy in front of rubygems source if their business relies on a set of gems. There have been many cases where I had relied on a gem hosted on rubygems. The gem one day disappeared from a 'rage-quit' or other reason and I wa

[2016-03-24 15:03] jules2689 commented on #1226
What @dwradcliffe is suggesting in his second proposal sounds a lot like domain grace periods. This is a fairly defined space and would not be overly complex to implement - as opposed to defining a download threshold and tracking that, modifying the threshold etc. There probably isn't a need to reinvent the box, so a grace period sounds like a sane solution as long as its made abundantly obvious o

[2016-03-24 17:01] grant-olson commented on #1226
@stevenhaddox Re: Signed Gems, user keys are trusted globally and authorization for a given key isn't tied to a given gem. A malicious user could just get you to trust their key for a different gem before uploading a compromised gem with a good signature from the wrong/invalid/new user.

[2016-03-24 17:03] stevenhaddox commented on #1226
@grant-olson thanks for the clarification.

[2016-03-24 17:55] indirect commented on #1226
For the record:

The Bundler team is actively working on a "local" gem server that can both host private gems and act as a pass-through cache for gems from other servers. It's called [Gemstash](https://github.com/bundler/gemstash), and you probably want to use it for production environments for speed reasons as well as giving you a copy of your dependencies that you control.

The problems with sig

[2016-03-24 18:11] stevenhaddox commented on #1226
@indirect: Not to get off-thread too much, but this is awesome. I missed the announcement on that and am glad to see this issue hasn't fallen to the wayside. Thanks for all you do (as always)!

[2016-03-24 19:09] mark commented on #1226
@stevenhaddox:

The opposite—as @nateberkopec pointed out, GPL already grants irrevocable rights.  So if you release your Gem under GPL, you can't rescind that right. ("All rights granted under this License are granted for the term of copyright on the Program, and are irrevocable provided the stated conditions are met. [...] You may convey verbatim copies of the Program's source code as you receiv

[2016-03-24 19:31] qrush commented on #1226
@mark that's assuming that every gem pushed has an OSS license (they do
not) and the author intends it to be used publicly (not always the case!)
it would also mean that we would have explicit permission to republish
credentials, keys, etc that are pushed accidentally...which is one of the
main reasons "gem yank" exists.

I think if we were starting from scratch that kind of policy would be OK.
Bu

[2016-03-24 19:35] krainboltgreene commented on #1226
Agreed. If we are to remain an ethical service I believe authors must have total control over their libraries.

Amusingly the "ownership" debate wasn't actually dealt with at all by this left-pad issue, since the author's library was MIT and also he gave complete permission up front to anyone wanting to fork & park.

[2016-03-24 20:10] mark commented on #1226
@qrush:

If every gem pushed had an OSS license, then this whole conversation would be moot, since you would already be licensed to republish.  Technically, gems that don't contain a license you don't have any right to publish at all.

Does rubygems have any way of indicating or enforcing that?  I'm sure people do this, but if you don't want outsiders to have access to your source, releasing a gem

[2016-03-25 03:48] whistlerbrk commented on #1226
Is there an alternative solution where a gem's 'lineage', regardless of name, is published to rubygems and able to be accessed by *other* programs like bundler when they fetch info from rubygems. This can in turn warn a user on an operation like `bundle update` / `bundle install` that the gem occupying that name is not part of the gem-of-records lineage?

I think a solution like this could complet

[2016-03-25 15:31] dwradcliffe commented on #430
This has nothing to do with if statements. This gemspec is actually repeating dependencies. I don't think this is common enough for us to change anything.

[2016-03-25 15:31] #430 closed

[2016-03-25 15:34] dwradcliffe commented on #436
This is working for me too. Closing since it is stale. (pun intended)

[2016-03-25 15:34] #436 closed

[2016-03-25 15:38] dwradcliffe commented on #644
Fastly has been stable lately and we have much better worldwide coverage than in years past. We're rolling out more Fastly things soon which will make everything even faster. I'm going to close this since we're not pursuing any other mirrors at this time.

[2016-03-25 15:38] #644 closed

[2016-03-29 03:58] kbrock commented on #1127
ok, I'm happy with #1234 as an alternative to #724 - but please let me know if you would like an alternative approach.

[2016-03-29 15:52] bradly commented on #1175
@dwradcliffe @arthurnn This was resolved by #1215 and can be closed. Thanks!

[2016-03-29 15:52] #1175 closed

[2016-03-29 18:59] AaronLasseigne opened #1237 "unannounced endpoint removal"
It looks like the "/api/v1/versions/[gem_name]-[gem_version]/downloads/search.json" endpoint was intentionally removed.

I cannot find a location that indicated that this was going to happen. If it was announced somewhere and I'm missing it then I apologize. Otherwise, please consider giving at least a few weeks notice when removing endpoints.

[2016-03-29 19:25] dwradcliffe commented on #1237
You're right we did not do a great job of communicating this. I'm sorry about that. :disappointed:

We've been discussing the changes in various PRs over the past year. The endpoints were not documented and the search endpoint was not actually working quite a bit of the time the past few months.

I'm curious what you were using those endpoints for, and if maybe there's another way to get what you'

[2016-03-29 20:43] BobWhitelock commented on #1217
Hi, this looks like a useful feature, I've started looking into this and should hopefully have a PR ready at some point soon.

[2016-03-29 20:43] dwradcliffe commented on #1217
@BobWhitelock awesome! :smile:

[2016-03-29 21:05] dwradcliffe commented on #1237
You can try downloading the full redis data dumps from https://rubygems.org/pages/data although the redis data for daily downloads is not complete.

[2016-03-29 21:17] olivierlacan commented on #1226
npm has a published a new policy for dealing with "unpublish" events: http://blog.npmjs.org/post/141905368000/changes-to-npms-unpublish-policy

I highlighted interesting parts:

I think the security placeholder is an interesting idea for "all versions yanked" scenario (if that's even a plausible scenario). It's the security angle, not really the "break the internet" angle.

I'm more interested in

[2016-03-29 21:59] #947 closed

[2016-04-02 15:10] balasankarc commented on #950
@srih4ri said he will try to help in implementing this. He's a Ruby dev and got a better chance in doing it than me. :)

[2016-04-03 22:40] shevegen commented on #1226
I'd love to see this possible. My favourite pet peeve is the gem called
"configuration". :)

I'd love to be able to use my gems on rubygems.org but also configuration,
as an option.

I am not sure if this is solely a problem that rubygems alone can fix, since
require 'name' is a really trivial way to import something. But perhaps in
the upcoming ruby 3.x era, we can look at ways to integrate thing

[2016-04-03 22:47] shevegen commented on #1226
The email requirement is really really really stupid. I don't understand it either.

If they get contacted, either they will:

(a) remove it after they were contacted anyway. In this case, why need a human interaction (provided that it is a human who reads anything and not just bots)

or

(b) not do anything, in which case YOU WASTED YOUR TIME CONTACTING THEM.

I feel that this is a huge failure o

[2016-04-05 06:19] crhan commented on #644
fastly is almost blocked in China and we have launched two mirror sites for gem download speed up:

1. https://gems.ruby-china.org/
2. https://ruby.taoboa.org/

[2016-04-05 06:20] JuanitoFatas commented on #644
:point_right: https://ruby.taobao.org/

[2016-04-05 06:36] vipulnsward commented on #972
Looks like still an issue after #1085

[2016-04-05 20:25] arthurnn commented on #972
interesting, that the webui returns the right results: https://rubygems.org/search?utf8=%E2%9C%93&query=ib

[2016-04-09 02:09] nicolasleger opened #1246 "Add autocompletion on gem search inputs"
It could be cool to have autocompletion on gem search input like on [npmjs.com](https://www.npmjs.com/) or [ruby-toolbox.com](https://www.ruby-toolbox.com/) :smirk:.

To be defined:
- Whether we do it on our own or use a Search Provider?
- If so which Search Provider ([algolia.com](https://www.algolia.com/) or [constructor.io](https://constructor.io/) other)? and how we transfer the data?
- Which

[2016-04-09 02:25] dwradcliffe commented on #1246
We have a new search system in the works! Autocomplete is on the list to
do. :)

We are using elasticsearch. We have a beta version working but we haven't
had a chance to polish it up for real use yet.

On Friday, April 8, 2016, Nicolas Leger <notifications@github.com> wrote:

--
---
David Radcliffe

[2016-04-09 05:52] shevegen commented on #1246
Since I love auto-completion in most cases (on the terminal at the least; not sure I care for the google type of autocompletion as much), I am in support of this.

[2016-04-09 09:12] gioele opened #1249 "ruby-prof is stuck at "0.8.1" in search results; 0.15.9 in its dedicated page"
The search results for the query `ruby-prof` (<https://rubygems.org/search?utf8=%E2%9C%93&query=ruby-prof>) incorrectly say that the current version of that gem is `0.8.1`, see the screenshot at the end of this issue.

The current version of the `ruby-prof` gem is `0.15.9` and this is what is correctly shown in its dedicated page (<https://rubygems.org/gems/ruby-prof>).

Stale version info cached

[2016-04-09 12:33] arthurnn commented on #1249
It is probably search related indeed. if you just scroll on the /gems pages, you see the latest version, see https://rubygems.org/gems?letter=R&page=362 .
I will see what is going on.

[2016-04-09 14:14] dwradcliffe commented on #1249
I'm guessing this is related to the change we made to latest version logic.

On Saturday, April 9, 2016, Arthur Nogueira Neves <notifications@github.com>
wrote:

--
---
David Radcliffe

[2016-04-09 21:44] nettofarah commented on #1191
Just created a PR to try to address this: https://github.com/rubygems/rubygems.org/pull/1251

[2016-04-10 17:12] #1191 closed

[2016-04-12 02:48] #1237 closed

[2016-04-13 19:33] jeroenvisser101 opened #1252 "RFC: Add 2FA auth to RubyGems.org"
Is this something you guys would like to get a PR for? I'd be willing to invest some time and see if I can get it to work with clearance?

[2016-04-13 19:54] dwradcliffe commented on #1252
We have talked about this a little bit in the past but never really had the time to think it through. Before we say yes or no I'd like to see a plan for what it would look like and how it would work.

[2016-04-13 21:58] nateberkopec commented on #1252
FWIW, as a user, I would prefer [Google Authenticator](https://github.com/jaredonline/google-authenticator), because I already have it installed.

[2016-04-14 07:27] jeroenvisser101 commented on #1252
@dwradcliffe – totally, I'll work on mockups and a specification of how it would work (flowchart maybe?)

@nateberkopec – absolutely, scannable QR codes will most certainly be part of this, since Authy, Google Authenticator but also 1Password use this and it has become the industry standard (or so I believe). Thanks for the input!

[2016-04-27 20:56] dwradcliffe opened #1256 "Search API endpoint performance problems"
The search api endpoint has some performance problems related to the recent gem download changes. Eventually we will be changing that to use Elasticsearch but until then we should try to fix the queries.

@arthurnn

[2016-04-27 20:56] simi commented on #1256
Are there any metrics or details?

[2016-04-27 20:58] dwradcliffe commented on #1256
![transactions - rubygems org production - new relic 2016-04-27 16-58-05](https://cloud.githubusercontent.com/assets/118850/14867979/4abc8e0a-0c99-11e6-93c0-7d761c6542f2.png)

[2016-04-28 02:25] arthurnn commented on #1249
still not fixed

[2016-04-29 15:32] shevegen opened #1258 "Non-existing gems - link - suggestion to make them more easy to spot"
Hello. I try to keep it short. Consider this gem:

https://rubygems.org/gems/bioroebe/versions/0.0.250

On the bottom, you see a link to a gem called:

"chemical_paradise >= 0"

This was a typo; I meant chemistry_paradise

There is no gem called chemical_paradise so I assume that people could not actually use that gem. (This will soon be corrected in my gem anyway, I just wanted to report the part

[2016-04-29 17:20] dwradcliffe commented on #1258
I think this makes sense. The page already knows this so it is just a view/design change.

[2016-05-08 18:30] s2t2 commented on #1166
Hi @dwradcliffe let me know if you need/want contributions to the stats revamp. I just got my development environment set up with the intention of working on stats stuff.

[2016-05-09 04:25] #1208 closed

[2016-05-09 04:26] dwradcliffe commented on #1166
@shevegen @s2t2 The new stats pipeline is complete and the stats on that page are now accurate. We can move forward with this idea if you want.

[2016-05-11 10:56] voxik opened #1266 "[RFE] Allow to specify range for /api/v1/activity/just_updated"
Currently, the /api/v1/activity/just_updated api returns 50 items. Unfortunately, if I were checking this API every hour, there is not possible to know, if I missed some updates or not.

Would it be possible to extend this API to let me specify something like "give all udpates since gem foo 1.2.3 was released" or alternatively "give me all updates since this timestamp".

I am asking for this featu

[2016-05-11 15:08] sonalkr132 opened #1267 "/api_key/reset should go to api/deprecated#index"
`http://localhost:3000/rails/info/routes` shows
![screenshot from 2016-05-11 20-28-33](https://cloud.githubusercontent.com/assets/7680662/15185610/94910d16-17b7-11e6-92d7-2937d7e0aaaf.png)

`api_key#reset` does not exist and should get directed to `api/deprecated#index`, however it is not. Following is from routes.rb:
[code]

Sidenote: `get 'gems/:id.json'` should be `get 'gems/:id'`

[2016-05-16 12:03] #1258 closed

[2016-05-16 12:35] dwradcliffe commented on #1037
We need this for the dependency api and the new index. We need to parse this from the gemspec when gems are pushed and save it to the database. We will also need a backfill task to go back and fill in the data for all existing gems.

@sonalkr132 is going to work on this.

[2016-05-16 12:36] dwradcliffe commented on #1037
cc: @maclover7 @indirect @segiddins

[2016-05-24 13:48] sonalkr132 opened #1288 "Using svg for database layout smushes text together"
I am using chrome `Version 49.0.2623.110 (64-bit)` on Fedora 23 and this what I see on [database layout](https://github.com/rubygems/rubygems.org/blob/master/CONTRIBUTING.md#database-layout):

![screenshot from 2016-05-24 19-11-23](https://cloud.githubusercontent.com/assets/7680662/15506066/b2d2281a-21e3-11e6-927d-a5fd869024df.png)

What do others see? I propose that we use png instead.
cc: @simi

[2016-05-24 13:54] simi commented on #1288
Version 50.0.2661.102 (64-bit), Fedora 23 also.

I see this:

![screenshot-github com 2016-05-24 15-52-13](https://cloud.githubusercontent.com/assets/193936/15506354/912abb6c-21c7-11e6-9aba-eeadf9055a65.png)

With PNG I have no idea what picture size should be used.

[2016-05-24 13:58] sonalkr132 commented on #1288
@simi  I am pretty sure you are seeing this on wider screen. My screen size is 15.6 in.

[2016-05-24 14:00] simi commented on #1288
I have 13'', but 4k.

That's the reason for keeping svg. I'm not sure what's your screen resolution, but svg should fit for most screens. You can still download it and open "unstreched".

[2016-05-24 14:11] sonalkr132 commented on #1288
4k = 3840 pixels × 2160 lines.  :computer:  Mine is 1366 x 768

Totally agree. png would be stretched. However I think png serves the purpose without people with smaller screen resolution seeing jumbled words.

May be we can use third opinion :sweat_smile: :v:

[2016-05-24 14:33] dwradcliffe commented on #1288
The svg looks correct on my screen as well (OS X Chrome Version 50.0.2661.102 (64-bit)).

What if we keep the svg but also render a png to the `doc/` directory?

[2016-05-24 17:04] sonalkr132 commented on #1288
naah! It would just add 233KB to repo size. I was only saying that may be we should use png because svg didn't look good on my screen(and probably others as well).

But again, it more about the data it conveys than aesthetic. We can close this if we are going to keep svg :no_entry_sign:

[2016-05-25 02:06] #769 closed

[2016-05-26 02:58] dwradcliffe commented on #950
We have the dependency API which should solve this I think.
https://rubygems.org/api/v1/dependencies.json?gems=rack

[2016-05-26 04:15] balasankarc commented on #950
No. Dependency API doesn't list the development dependencies. It only lists runtime dependencies. Please reopen the issue.

[2016-05-26 12:40] dwradcliffe commented on #950
Ahh, didn't realize that was the goal.

[2016-05-27 21:14] qrush commented on #1266
Have you tried using a gem webhook instead? This API seems better for just infrequent checking/updates.

[2016-05-28 03:31] dwradcliffe commented on #313
The new index includes an API endpoint with the full list of gems.
https://index.rubygems.org/versions

Closing since I think that satisfies the need and this is so old. Please comment if I'm missing something.

[2016-05-28 03:31] #313 closed

[2016-05-28 03:40] dwradcliffe opened #1295 "Self serve remove account"
As mentioned in the [recent blog post](http://blog.rubygems.org/2016/05/20/rubygems-org-2016-push.html) we would like to make a way for users to remove their account if they wish.

This would be implemented as a link/button probably from the user's own profile page (or maybe the edit profile page). This would lead to a confirmation page with the following:
- strong warning that this is apermanent,

[2016-05-28 10:07] voxik commented on #1266
RubyGems is the only platform which supports webhooks, so there is no infrastructure for such feature on Anitya side.

[2016-05-29 09:56] zamith opened #1299 "Support for alternate emails in the profile"
I personally have multiple emails, and I think it is common to have at least a personal and a work one. What do you think about allowing a profile to be referenced from a `gemspec` by more than one email?

[2016-05-29 11:55] dwradcliffe commented on #1299
The emails in the `gemspec` are not actually tied to the profiles on RubyGems.org in any way. Any email in the gemspec is okay.

[2016-05-29 13:43] zamith commented on #1299
Really? Didn't know that. Then how do you get the owners picture and so on?

[2016-05-29 14:46] sonalkr132 commented on #1295
Are we going to delete the user data from database or just flag that user as deleted?

[2016-05-29 15:57] qrush commented on #1295
For support requests I have been hard deleting from the database. I think
that would be a fine way to start.
On Sun, May 29, 2016 at 10:46 AM Aditya Prakash <notifications@github.com>
wrote:

[2016-05-29 16:03] simi commented on #1295
There's another approach to keep user, mark as deleted and wipe all personal informations like name, email, ...

[2016-05-30 03:13] qrush commented on #1266
@voxik sounds like a perfect opportunity to support it then! especially since it's going to give you the real-time data you need. Please take a look into it, it's just one HTTP endpoint to consume.

http://guides.rubygems.org/rubygems-org-api/#webhook-methods

[2016-05-30 15:09] dwradcliffe commented on #1299
The gem authors come from the gemspec but the gem owners are a separate thing. Owners are tied to user profiles and are based on the authenticated user, not the gemspec.

[2016-05-30 15:20] zamith commented on #1299
Yes, I saw that after your comment. Then what about adding the possibility of having more than one email per profile? Is this not useful?

[2016-05-31 00:24] #1267 closed

[2016-05-31 13:10] dwradcliffe commented on #1299
I'm not sure that is useful. Can you explain why you would want that?

[2016-05-31 13:52] zamith commented on #1299
As far as I can understand from [this PR](https://github.com/rubygems/rubygems/pull/1569), the email is used as a fallback if no owner is given. I had a situation where the email on the gemspec was not the email I have on my rubygems.org profile, since I have multiple emails, and as such I was not added as an owner of the gem.

Changing the email on the gemspec fixed that. That's why I assume they

[2016-05-31 14:10] dwradcliffe commented on #1299
Not quite. We allow users to hide their email address from their profile, which also hides their email address from the owners api endpoint. That PR adapts the client to handle that situation and display the username instead of the (missing) email.

I'm not sure about your specific situation. The email in your gemspec does not matter, only the account that is signed in on your computer when you `g

[2016-05-31 14:20] zamith commented on #1299
Hum... This was someone else pushing the gem. Maybe this was a misusage on our part that led me to think this would be a nice feature. Sorry about that.

[2016-05-31 14:20] #1299 closed

[2016-05-31 15:12] jaredbeck opened #1302 "Add twitter handle to profile"
As a visitor,
I want to see the twitter handles of gem owners,
because I want to follow them on twitter

I can try to implement this if it's something people want.

[2016-05-31 18:05] lucianosousa commented on #1302
Firstly, we should allow at gemspec file this info, don't?

[2016-06-03 06:13] wagolemusa opened #1304 "help me"
I'm trying to install the "rake routes" to my projects this is what i get

Could not find gem 'rails (= 4.2.6)' in any of the gem sources listed in your Gemfile or available on this machine.
Run `bundle install` to install missing gems.

[2016-06-03 06:13] #1304 closed

[2016-06-04 11:23] sonalkr132 opened #1308 "Dependency endpoint only needs name, number and platform"
Before https://github.com/bundler/bundler-api/pull/80 bundler-api's dependency endpoint only had `name`, `number` and `platform`. Following is [comment](https://github.com/bundler/bundler-api/pull/80#discussion_r32080402) left from @indirect :

Changes introduced in the PR were for compact index. Does this mean we can drop `:required_ruby_version, :required_rubygems_version, :sha256, :created_at`

[2016-06-05 16:52] clamoris commented on #1246
@dwradcliffe Are you still working on it? It looks like a very useful thing and I would like to help if it possible.

[2016-06-05 17:08] sonalkr132 commented on #1246
@clamoris It is on my to-do list and happens to be very next one :smile: However, feel free to take it up. We are also working on introducing `facets` and other advanced search features. I can work on them.

We are going to use elasticsearch. So, take a look into this 03-expert.rb template: https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-rails#rails-application-templates
I

[2016-06-05 18:38] dwradcliffe commented on #1037
FYI this was added to the gem/version page in #1307

[2016-06-05 21:20] clamoris commented on #1246
@sonalkr132 I'll take it then.

[2016-06-06 04:11] indirect opened #1311 "Gem show page Download link is broken"
See e.g. Rack's "Download" link, which points to the URL https://rubygems.org/downloads/rack-1.6.4.gem, which doesn't exist.

[2016-06-06 10:54] dwradcliffe commented on #1311
Fixed. This was caused by an error in the load balancer nginx config.

[2016-06-06 10:54] #1311 closed

[2016-06-06 19:06] matk0 commented on #937
Is anyone working on this? I would take it up.

[2016-06-07 02:42] sonalkr132 commented on #937
@matk0 No one is working on this. Have at it :white_check_mark:

[2016-06-07 02:47] segiddins commented on #1308
👍 sounds about right to me

[2016-06-07 04:12] matk0 commented on #937
@sonalkr132 do I get it right that the label needs-pr means that the feature as such is approved and it's just waiting to be taken up by someone? This label is not explained in the the CONTRIBUTING.rdoc. I can put it there if you like.

[2016-06-07 04:58] sonalkr132 commented on #937
Yeah, Thats what they generally mean.

I don't speak for rubygems team. I am only giving you what information I have :blue_heart:

[2016-06-07 20:46] clamoris commented on #1246
@sonalkr132 Actually 03-expert.rb do not implement autocompletion but only suggestions. PR is open, btw.

[2016-06-07 21:21] shevegen commented on #1302
Yes, possibly an optional extra field. I for instance do not have a twitter handler but I can see that others may want to know more about some gem owners.

[2016-06-08 22:01] chrismo commented on #1249
fyi, seeing the same right now for `json` gem. showing 1.1.1 on search result.

[2016-06-10 16:13] sonalkr132 commented on #1308
How are we even going to go about this! I don't think we can just drop those columns and deploy it to production.

[2016-06-10 17:22] segiddins commented on #1308
@sonalkr132 two different DepKey classes (or a subclass) would probably be a viable way to do this

[2016-06-11 16:29] shevegen commented on #1295
Good idea.

+1

[2016-06-12 03:22] shevegen opened #1322 "For yanked gems - consider distinguishing between gems that were completely yanked (all versions removed), and projects where only some old/buggy versions were removed yet that project still existing (and being actively maintained in some cases)"
Hi rubygems.org folks,

I noticed something strange but also trivial and tiny, not sure if
I should even report it, but I'll do anyway - if this is not useful
it can be closed. :)

If you go to this URL here:

    https://rubygems.org/gems/bioroebe/versions/0.0.81

You can read this:

"This gem has been yanked, and it is not available for download directly
or for other gems that may have depended

[2016-06-13 15:55] pravi opened #1325 "add an option to specify SemVer.org compliance"
I maintain debian packages of many rubygems (so rails apps like gitlab and diaspora can be just 'apt-get install' for end users who don't know ruby).

I have been collecting SemVer.org compliance info here https://wiki.debian.org/Teams/Ruby/UpstreamPledge as it helps those apps to specify a looser dependency and it makes our job of updating gems without breaking existing apps easier.

It would be

[2016-06-14 02:38] #1249 closed

[2016-06-17 12:47] dwradcliffe commented on #1166
This is now complete!

[2016-06-17 12:47] #1166 closed

[2016-06-17 12:48] #1288 closed

[2016-06-17 16:33] pdoak opened #1332 "Error installing gems"
When I try and install a gem, I get the following error:
` ❯ gem install nokogiri                                                                                                        [5:06:51 pm]
ERROR:  Could not find a valid gem 'nokogiri' (>= 0), here is why:
          Unable to download data from http://rubygems.org - no such name (http://api.rubygems.org/specs.4.8.gz)`

I am running on Mac

[2016-06-17 16:40] pdoak commented on #1332
Solved. Closed iTerm and reopened and everything worked.

[2016-06-17 17:11] #1332 closed

[2016-06-18 20:48] #1308 closed

[2016-06-18 21:43] dwradcliffe commented on #1322
I think you're right; your proposed change does make sense.

[2016-06-20 21:39] MatzFan opened #1334 "gem install bunlder"
A very interesting [blogpost and related thesis](http://incolumitas.com/2016/06/08/typosquatting-package-managers/#typosquatting-package-managers) on the vulnerability of RubyGems (& other language libraries) to 'typosquatting' has recently got some press including from [Bruce Schneier](https://www.schneier.com/blog/archives/2016/06/infecting_syste.html). Is the community aware that RubyGems was u

[2016-06-22 05:44] LynnCo opened #1335 "Statistics dashboard in Librato"
(migrated from the Trello board)

[2016-06-22 05:54] coilysiren opened #1336 "write up a Terms of use"
from @qrush

[2016-06-22 05:56] LynnCo commented on #1336
There's also notes on the Trello board about  creating an abuse page / reporting system, and a privacy policy

[2016-06-22 06:02] LynnCo commented on #1336
for reference

* PyPi's ToS https://github.com/pypa/pypi-legacy/blob/master/templates/confirm.pt
* NPMs http://blog.npmjs.org/post/93540308465/legal-stuff, https://www.npmjs.com/policies/conduct

[2016-06-22 06:38] LynnCo opened #1337 "Add jruby and rubinius to gem blacklist"
suggested by @segiddins

That file is here https://github.com/rubygems/rubygems.org/blob/master/lib/patterns.rb

[2016-06-22 06:40] LynnCo commented on #1334
Yes and yes. In particular we already have a [gem name blacklist](https://github.com/rubygems/rubygems.org/blob/master/lib/patterns.rb). Which we reappraised when one of the team members found that blog post. If I recall correctly, the consensus was that we can do more to defend against this, but it is fairly difficult to do so

[2016-06-22 10:50] qrush commented on #1336
We have a draft one that is under legal review right now! I can add you @lynnco. We should consider publishing them now I think too on GitHub, we can associate them on the site soon.

cc @dwradcliffe @evanphx @indirect

[2016-06-22 12:20] MatzFan commented on #1334
The blacklist seems to be designed to defend against impersonating stdlib namespace, not the 'bunlder' issue - but at least an 'openssl' gem is impossible. Good to see the problem has been flagged, thanks.

If you are happy to leave the issue open, I'd respectfully suggest it may be a good place for brainstorming this problem - I'll give a solution to the 'typosquatting' problem some more thought

[2016-06-22 12:56] dwradcliffe commented on #1335
The existing stats are totally broken now that we're using Fastly and we're also moving away from Librato. This would be neat but at the moment I don't see how it's going to happen.

[2016-06-22 12:58] #1037 closed

[2016-06-22 15:07] segiddins commented on #1335
@dwradcliffe it'd need to process fastly logs, just like the stats

[2016-06-22 15:17] dwradcliffe commented on #1335
Yep, but that's a LOT more requests to process

[2016-06-26 01:39] #1337 closed

[2016-06-26 21:12] indirect commented on #972
@sonalkr132 do you think you could look into this?

[2016-06-27 01:56] dwradcliffe opened #1344 "Purge compact index urls on Fastly"
We need to purge the compact index urls on Fastly too. This should be done right after memcached in the Pusher class I think.

cc: @indirect @segiddins @fotanus

[2016-06-27 03:07] dwradcliffe opened #1345 "disable signup in staging"
For staging we want to disable signup and display a nice message stating that signup is temporarily disabled. Let's make it generic so that we could enable in production too. I'd like to use an ENV variable to trigger this, such as `DISABLE_SIGNUP=true`.

cc @qrush

[2016-06-27 03:19] qrush commented on #1345
+100

On Sun, Jun 26, 2016 at 11:07 PM David Radcliffe <notifications@github.com>
wrote:

[2016-06-27 03:37] sonalkr132 commented on #972
Sure :+1:

[2016-06-28 15:34] sonalkr132 commented on #1157
You can use https://rubygems.org/api/v1/dependencies.json?gems=rails
You would just need to parse it to find what you are looking for.

[2016-06-28 16:05] balasankarc commented on #1157
Oops. Didn't know this is still open. The bug #950 talks about this. Let the discussion happen there.

[2016-06-28 16:05] #1157 closed

[2016-06-29 02:22] #1345 closed

[2016-06-29 02:51] #1344 closed

[2016-06-29 04:16] sonalkr132 commented on #1100
What needs to be done here? It seems like one needs to add `x-amz-meta-Cache-Control : max-age= <value in seconds>` to the PUT request of the object. Where is the setting for that PUT request?

[2016-06-29 11:58] #1145 closed

[2016-06-30 18:19] sonalkr132 opened #1356 "List of gems we need to request for yanking"
Some operating systems may have case insensitive filesystem.
Following gems are ordered by number of downloads of their counter part having number of downloads > 100_000. I have excluded gems where owners were same.

- [ ] rack:  [Rack](https://rubygems.org/gems/Rack)
- [ ] websocket: [WEBSocket](https://rubygems.org/gems/WEBSocket)
- [ ] rvm: [rVM](https://rubygems.org/gems/rVM)
- [ ] macaddr: [M

[2016-07-01 23:54] dwradcliffe commented on #1302
👍 I think this is a good idea. Sometimes it's hard to find someone just based on their username. This would (optionally) be on the RubyGems.org user profile, not on the gem or gemspec.

[2016-07-02 00:57] LoChanHi5 commented on #1302
I would like to work on this if nobody has started yet. It'll be my first open-source contribution 😄

[2016-07-03 08:00] iGEL commented on #1334
There could be a soundex, smith-waterman or similar check for new gems against all popular gems (probably to be determined by total downloads or downloads in the last x months). We're using [smith-waterman](https://en.m.wikipedia.org/wiki/Smith%E2%80%93Waterman_algorithm) in our app to find typos and like the results. Whether the gem creation is automatically blocked or just reported is up for dis

[2016-07-05 02:29] shevegen commented on #1336
Some comments.

"Inappropriate names" can be problematic.

Take these:

  https://rubygems.org/gems/fuck
  https://rubygems.org/gems/fucking_favicons
  https://rubygems.org/gems/fuckitruby
  https://rubygems.org/gems/god
  https://rubygems.org/gems/idiot
  https://rubygems.org/gems/statwhore
  https://rubygems.org/gems/test_bitch
  https://rubygems.org/gems/tit

Linus called git git, which may be

[2016-07-06 01:14] dwradcliffe opened #1367 "[search] We need to be indexing the total downloads for a gem, not the version"
While testing the new search I realized we are indexing the number of downloads for the gem version not the total for the rubygem. We need to switch that to always use the total downloads.

@sonalkr132

[2016-07-06 12:50] #1367 closed

[2016-07-13 03:32] mbailey opened #1373 "Please advise on openssl rubygem"
[[moved from here](https://github.com/rubygems/rubygems/issues/1663#issuecomment-232228387)]

I created [openssl rubygem](https://rubygems.org/gems/openssl/versions/0.2.0) to [verify a security vulnerability](http://help.rubygems.org/discussions/suggestions/7892-reporting-abuse-on-openssl).

I was pleased to see rubygems.org respond by [reserving core libs namespaces](https://github.com/rubygems/r

[2016-07-19 15:51] MarkDBlackwell opened #1375 "Command 'gem list {{REGEXP}}' fails on Git for Windows on Windows XP"
A prerequisite is to do `gem install jsonb multi_json`.

On my 64-bit Windows 7 system, using the Git Bash prompt of Git for Windows (version 2.8.1), `gem list {{REGEXP}}` works:

    $ gem list json

    *** LOCAL GEMS ***
    json (1.8.2, default: 1.8.1)
    jsonb (0.0.1)
    multi_json (1.12.1)

    $ gem list ^json$

    *** LOCAL GEMS ***
    json (1.8.2, default: 1.8.1)

    $ gem list "^jso

[2016-07-19 15:53] dwradcliffe commented on #1375
This should be in https://github.com/rubygems/rubygems/issues

[2016-07-19 15:53] #1375 closed

[2016-07-19 16:56] MarkDBlackwell commented on #1375
@dwradcliffe, my regrets. Deleted and resubmitted [there](https://github.com/rubygems/rubygems/issues/1669).

[2016-07-22 14:18] hsbt commented on #1373
@dwradcliffe Would you handle this request? We have plan to ship openssl gem extracted from stdlib in CRuby repository at 2.4.0 preview 2 release.

[2016-07-23 07:56] LynnCo commented on #1337
Suggested made as a part of the typo-squatting issue described here https://github.com/rubygems/rubygems.org/issues/1334

[2016-07-28 01:50] dwradcliffe commented on #1373
@hsbt You have ownership now. You can add whoever else needs it. I'll also remove it from the blacklist.

[2016-07-28 01:50] #1373 closed

[2016-07-28 02:11] hsbt commented on #1373
@dwradcliffe Thanks always.

[2016-07-29 12:18] shevegen commented on #486
+1 from me too. Perhaps it could also be shown on the gem-page on rubygems.org, something small, an indicator or a small icon. Most gems are pure ruby probably, the few that require extensions to be compiled, could perhaps have a big C or C++ letter or something somewhere on the right side or so. :)

[2016-07-29 15:21] jc00ke commented on #486
Going a bit further, there could be a global `gem` setting that would force a prompt `Y|n` before a C-ext is compiled. By default the prompt should be off, but if set could show user a link or open C-ext dir in `$EDITOR`.

[2016-07-29 15:23] simi commented on #486
*Just to mention:  rubygem extension != C compiled extension every time.*

[2016-07-29 18:14] vassilevsky commented on #486
What else could it be?

[2016-07-30 17:24] simi commented on #486
When you provide

[code]

in `gemspec`, when gem is running extensions compilation, it just run that script and expects also Makefile with `install` section. You can do whatever you want in `extconf.rb` if you provide fake empty Makefile for extension builder.

To mention some real usage: travis.rb was [installing shell completion in this way](https://github.com/travis-ci/travis.rb/blob/1c8d9843a9

[2016-08-06 08:53] alexiamcdonald commented on #1295
I would really like to work on this. I think archiving the user and deleting their personal data seems like the way to go.

[2016-08-07 14:28] sonalkr132 commented on #1295
Thank you for your interest @alexiamcdonald

#1301 already exists for the issue. You are welcome to leave comments on it :recycle: I am sure you can also find other interesting issue to work on :smiley_cat:

[2016-08-09 00:40] indirect opened #1379 "Compact index errors when gem name has capitalization"
The `rack` gem somehow has some versions with the name `Rack`, and the compact index serves two completely separate files as a result:

[code]

[code]

We need to serve all versions (both `rack` and `Rack`) inside the file at /info/rack.

[2016-08-09 00:42] indirect commented on #1379
Nope, this is a total lie. Those are two different gems. This is gonna be a problem. :(

[2016-08-09 00:42] #1379 closed

[2016-08-09 03:13] obromios opened #1380 "Summary is not updating"
I am finding that the summary does not update when I push a gem update. I have asked this question previously on [stack overflow](http://stackoverflow.com/questions/38565890/summary-will-not-update-on-rubygems) and have not received a reply.

I have pushed a new version of a gem to rubygems. The new version number is shown on the rubygems website, but the summary has not changed. I have checked th

[2016-08-09 03:32] sonalkr132 commented on #1379
We have the real issue[1] documented here https://github.com/rubygems/rubygems.org/issues/1356

[1] gems with same name (ignoring case) won't be able to release same versions.

[2016-08-09 04:49] sonalkr132 commented on #1380
@obromios I could not reproduce your issue. Following is what I did (gem name being `loremoo`):
* Change `summary` in loremoo.gemspec
* Bump up version number
* `gem build loremoo.gemspec`
* `gem push loremoo-0.2.0.gem`

The summary and the title of the gem was updated instantaneously on rubygems.org.

Your gem page shows the correct version in the title: https://rubygems.org/gems/chris_lib
You ca

[2016-08-09 05:30] obromios commented on #1380
Thank you. I agree, the summary is now correct, and the version number next to the top title is correct as well.  However, from the screenshot I posted, you can see the version next to the title was different from the version number shown below and the summary was not correct.  What do you think caused this?

[2016-08-09 05:43] sonalkr132 commented on #1380
I am not sure. May be @dwradcliffe could help.
Please consider clearing your browser cache if you encounter this again.

[2016-08-09 06:04] obromios commented on #1380
I did not clear the browser cache, so maybe that was it.

[2016-08-09 06:04] #1380 closed

[2016-08-09 21:44] indirect opened #1382 "Calculate and store a yanked_info_checksum for yanked gems"
The compact index `versions` file is intended to be append-only, so that anyone who has ever downloaded the file in the past can use that file as a base and only download new lines.

Here's an example. Each line in the versions file needs to be added without changing the lines that came before. So here is a hypothetical base versions file with Rack 1.0.0 and 1.0.1:

[code]

Then, rack 1.0.2 is rel

[2016-08-09 21:46] indirect opened #1383 "Compact index responses need to be cached by Fastly"
Right now, the compact index responses at `/names`, `/versions`, and `/info/*` are not cached by Fastly, and are instead served directly from Nginx. We'll need to make sure Fastly is serving all of those responses before we can move index.rubygems.org to point at this Rails app.

[2016-08-11 16:07] shevegen commented on #578
Also +1 from me as an optional thing (non-mandatory). For most of my gems I will not need any changelog, since it is small and barely anyone else uses it. But a very few of my larger gems, may sometimes benefit from a changelog, in particular if it is a larger change e. g. version 1 to version 2, so an entry for it would be nice, hence +1.

[2016-08-12 19:25] indirect opened #1386 "API responses for gem `youtube-dl.rb` are incorrect"
At the page https://rubygems.org/gems/youtube-dl.rb/versions, there are 75 versions listed. In the v1 API versions response, though, there are only 72 versions provided in the response:

[code]

Using the v2 API, all versions are missing entirely:

[code]

(But this is the URL scheme that is supposed to work for API v2, as demonstrated by `https://rubygems.org/api/v2/rubygems/rack/versions/1.0.0.j

[2016-08-12 19:25] indirect commented on #1386
@sonalkr132, do you think you could look into this?

[2016-08-13 01:27] #1386 closed

[2016-08-13 04:11] sonalkr132 commented on #1386
@sonalkr132 was catching zzz's.

[2016-08-20 20:04] shevegen commented on #1322
I noticed the change. I think it is probably fine as it is now? Guess it can be closed unless someone thinks otherwise. :)

[2016-08-21 13:27] #1322 closed

[2016-08-22 04:06] obromios commented on #1380
I was just startled to see this error again. Clearing the browser cache did not work.  It turned out that I was finding the library by using google, and it was sending me to the url of the most popular version, which was the old version. The url was
`https://rubygems.org/gems/chris_lib/versions/0.0.2`
I was not aware you could load old versions this way so did not think of this.

[2016-08-27 06:03] #1382 closed

[2016-08-27 07:02] #1100 closed

[2016-08-27 18:54] spk opened #1395 "`Rubygem.search` does not support search like « RubyGem11 » anymore"
Searching with this pattern result to an error like `PG::SyntaxError: ERROR:  syntax error in tsquery: "RubyGem:* & :* & 6:*"`

This is maybe due to usage of `tsvector` introduced recently, cc @sonalkr132

Failing build: https://travis-ci.org/rubygems/rubygems.org/jobs/155570866#L1122

[2016-08-29 15:19] indirect commented on #1395
@spk whoa, thanks for pointing this out! I'm going to back out that change for now, and we can merge it again later once we're sure it won't cause this problem.

[2016-08-29 16:46] spk commented on #1395
@indirect no problem all props to @sonalkr132 for inspecting my commits, thanks for the feedback.

[2016-08-29 17:14] #1395 closed

[2016-08-30 13:39] sonalkr132 opened #1400 "Automate updating versions.list file"
http://rubygems.org/versions file is meant to updated every month. As [versions.list](https://github.com/bundler/bundler-api/blob/master/versions.list) file gets older, it gets more and more expensive to calculate the versions we need to append to the file.
We cache the calculated versions. Memcached has limit on value size of 1MB. We compress the `value` before it gets stored in memcached if `val

[2016-08-30 13:50] indirect commented on #1400
I would like to instrument the size of the calculated versions, so that we can see it change over time. If we did not have this problem, I would recommend updating the versions.list only once every 6-24 months, because any time we change it every user has to download the entire ~10MB file again from scratch. On a slow connection, that takes a _very_ long time. :/

[2016-08-30 13:59] sonalkr132 opened #1401 "Reserved namespace page for blacklisted gem names"
[These gem names](https://github.com/rubygems/rubygems.org/blob/master/lib/patterns.rb#L9) are blacklisted. ie we don't allow any user to own the namespace or allow `gem push`.
Recently we added a reserved namespace page in #1371
![1c5b0310-4480-11e6-8744-b1807fb9d0eb](https://cloud.githubusercontent.com/assets/7680662/18091885/ed764b58-6ee7-11e6-93f2-d8d7e490a23d.png)

Blacklisted gems should hav

[2016-08-30 22:23] Nowaker opened #1404 "Constant timeouts with rubygems.global.ssl.fastly.net - Gitlab.com CI / DigitalOcean"
I've recently migrated from Codeship to GitLab.com's internal CI and most of the time the build won't pass due to `Errno::ETIMEDOUT` from rubygems.global.ssl.fastly.net. The application I build consists of multiple git submodules, each having their own Gemfile, so there's a lot of deps to download. So many that my chances for a successful build are quite small. There's no particular gem that doesn

[2016-08-30 22:29] Nowaker commented on #1404
GitLab team agrees with my judgment: https://gitlab.com/gitlab-com/infrastructure/issues/392

![image](https://cloud.githubusercontent.com/assets/611746/18109502/f893e08e-6f11-11e6-8275-77b4942db408.png)

[2016-08-30 22:57] bronzdoc commented on #1404
Related: http://help.rubygems.org/discussions/problems/22609

[2016-08-31 00:07] drbrain commented on #1404
In particular, http://help.rubygems.org/discussions/problems/22609-intermittent-problems-when-pulling-gems#comment_40645393

[2016-08-31 04:58] sonalkr132 commented on #1400
Here is an estimate of value bytesize using datadump of 2016-08-22
memcached limit: 1048576 bytes
Value size(in bytes) on different days:

| Date | without compression |   with compression  | read of compressed value (ms)|
|---|---|---|---|
| 2016-04-22  | 4869446  | 1203480 | - |
| 2016-05-22  |  3604758  | 917240  | 334.24170999933267 |
|  2016-06-22  |  2363388 | 639711  | 189.20898199939984 |

[2016-08-31 05:17] drbrain commented on #1404
Can you retry now?  Fastly made some configuration changes at one of our POPs that may have fixed this issue.

If it still occurs can you include a traceroute to help narrow it down?

[2016-09-02 01:27] dwradcliffe opened #1407 "Set Content Security Policy header"
We should probably be setting the Content Security Policy header to better protect against XSS attacks.

I haven't figured out what the best value is, so some research needs to be done.

https://wiki.mozilla.org/Security/Guidelines/Web_Security#Content_Security_Policy
https://scotthelme.co.uk/content-security-policy-an-introduction/

[2016-09-04 06:53] cicku commented on #644
I still wonder why can't rubygems.org setup rsync and provide access to those wanna setup a mirror like those setup for Linux distributions.

Provided that Fastly, S3, Google CDN, MaxCDN, KeyCDN, Cloudfront or whatever are robust enough, however for mainland Chinese, all these non-local CDNs have been blocked due to some political websites using these services to propagate anti-government contents

[2016-09-04 07:08] indirect commented on #644
@cicku this is a closed issue. If you are having problems and want our help to try to fix them, feel free to open an issue of your own.

[2016-09-06 14:02] bonzofenix opened #1411 "Gem name not released after using gemcutter"
I'm having a problem.

My current problem is that I removed a gem from my personal rubygem account to move it to a corporate one. After using gemcutter the gem disappeared from my personal rubygems, but the namespace was not release.

This issue is related to:

 Network problems
 Installing a library
 Publishing a library
 The command line gem
 Other
I will abide by the code of conduct.

[2016-09-06 14:42] dwradcliffe commented on #1411
Are you trying to remove the gems or transfer ownership?
Sounds like this is probably better suited for http://help.rubygems.org/

[2016-09-07 00:31] lynnco opened #1412 "Search function should not rely on the ordering of the terms"
Problem description:

Searching [async rails](https://rubygems.org/search?utf8=%E2%9C%93&query=async+rails) returns distinct results from searching [rails async](https://rubygems.org/search?utf8=%E2%9C%93&query=rails+async).

Intended behavior:

The search returning results regardless of of the ordering of the terms, and the results from "async rails" and "rails async" being identical.

[2016-09-07 00:50] dwradcliffe commented on #1412
With new search on the way soon™️, I'm going to say this is "won't fix".

However, I'd love to see a test added for new search to ensure this works there.

[2016-09-07 07:57] sonalkr132 opened #1413 "Gem owner has push rights to reserved namespace"
When a [namespace is reserved](https://rubygems.org/gems/deviantart) by rubygems.org[1], the gem page says:

This :point_up: statement is false. `ownership` record is not deleted when a user yanks all versions of a gem. Thus, gem owner still has all control of the namespace. ie. they can `gem push ..`, `gem owner  ..` etc.

Probably it is acceptable that canonical gem owner has some control over t

[2016-09-07 22:11] indirect commented on #1413
After some discussion, we decided that this is a good thing, and we will keep it this way. We can improve the message in #1408. <3

[2016-09-07 22:11] #1413 closed

[2016-09-08 23:17] calvinalvin opened #1415 "429 Rate limit from API"
Hi is there a newly enforced rate limit on your api now?

We have some chef cookbooks that install some rubygems and we are consistenly running into 429's which cause our deploys to fail.

For example:

[code]

[2016-09-08 23:22] calvinalvin commented on #1415
Actually I think we found a solution.
http://help.rubygems.org/discussions/problems/22721-bundlerhttperror-nethttptoomanyrequests
Thanks

[2016-09-09 12:26] dwradcliffe commented on #1415
Yes we do have new rate limits in place this week. See the help issue above for more information.

[2016-09-09 12:26] #1415 closed

[2016-09-09 12:30] tadityar commented on #1217
Hello! I realize the PR hasn't been updated in sometime. I'm interested to work on this, maybe I'll create another PR.

[2016-09-10 23:53] simi opened #1421 "Store pushing and yanking user with version."
I think it will be nice to have information on version detail page who pushed that gem version and maybe it is good idea to store also "yanker" of that gem.

That would be useful in situation where multiple owners exist for gem and you're curious who made a gem push / yank.

It is probably not possible to fill this information for current versions. :(

What do you think about this feature? I would

[2016-09-11 00:16] dwradcliffe commented on #1421
We do already store the user who yanked the version (from the last year or
so). See the deletion model.

On Saturday, September 10, 2016, Josef Šimánek <notifications@github.com>
wrote:

--
---
David Radcliffe

[2016-09-11 00:44] simi commented on #1421
@dwradcliffe Ahh, I missed that. Thanks. What do you think about storing version author also?

[2016-09-11 04:19] shevegen commented on #1421
I guess having the information available in itself will not hurt, for projects that do have more than one user. Perhaps for projects that have only one user, no change is necessary - the default could be assumed to be the only one who could have pushed perhaps.

simi: On a belated note, how do you suggest to make this information available? A text with the name next to the user? A hover-action for

[2016-09-11 07:34] sonalkr132 opened #1422 "Partition versions table"
`versions` table is really big. `\d+` gave:

[code]

Its columns have very different level of access frequency. For example, `rubygem_id` and `indexed` columns are probably accessed on most of queries made in production (since we are almost always  working only with `indexed` versions and we are doing everything in context of a `rubygem`).  At the same time it has obscure columns like `size`, `bui

[2016-09-12 01:33] danielbayley opened #1424 "Ability to ’star’ gems?"
Like on npm. Maybe you could even just use a little gem symbol rather than a star…

[2016-09-12 09:48] sonalkr132 commented on #1424
Or show how many **starts** it has on github and send staring request to github?
https://cocoapods.org/pods/Alamofire

Stars	19,046
Watchers	940
Forks	3,072
Issues	3
Contributors	100
Pull Requests	1

https://developer.github.com/v3/activity/starring/

[2016-09-12 15:22] sunil797 opened #1425 "RCE-remote code execution"
hello team,

i found that i could able to load svg and gif format files can be uploaded into ruby gems

steps to reproduce:
1.go to url:http://help.rubygems.org/discussion/new
2.in choose file option you can upload svg file and gif file which can execute rce.

svg [file:]

svg123.txt
img123.txt
thanks!let me know if iam not clear.

[2016-09-12 15:26] simi commented on #1425
AFAIK help.rubygems.org is powered by http://tenderapp.com/.

2016-09-12 17:22 GMT+02:00 sunil797 <notifications@github.com>:

[2016-09-12 15:26] dwradcliffe commented on #1425
This is not the appropriate place for security reports. Please view our security policy before submitting issues on GitHub. https://rubygems.org/pages/security

[2016-09-12 15:26] #1425 closed

[2016-09-13 02:55] micalexander opened #1426 "Pushing a new gem"
I am trying to push a new gem, however I keep getting the error `You do not have permission to push to this gem.`

The gem name is `trio`.

I don't see that this name is being used, however going to https://rubygems.org/gems/trio it seems to be reserved and says I need to submit a ticket.

I am not seeing where I can submit a ticket so I came here.

Any ideas?

[2016-09-13 05:17] sonalkr132 commented on #1426
`trio` was yanked `2016-06-28`. rubygems.org has [reserved the namespace for 100 days](https://github.com/rubygems/rubygems.org/pull/1371).
You can do one of the following things:

* wait until October 6, 2016, when the namespace will be release automatically.

* request previous owner of `trio` to add you as owner.

* request to release the namespace before 100 days using [help.rubygems.org](http

[2016-09-13 06:42] micalexander commented on #1426
Nice.

On help.rubygems.org<http://help.rubygems.org> I do not see where I can make the request to have the namespace released. Can you link me directly to that form or instruct me where to click to begin the process?

--
MIchael Alexander

On September 12, 2016 at 10:17:12 PM, Aditya Prakash (notifications@github.com<mailto:notifications@github.com>) wrote:

trio was yanked 2016-06-28. rubygems.o

[2016-09-13 07:12] sonalkr132 commented on #1426
Here you go: http://help.rubygems.org/discussion/new

[2016-09-14 06:48] sonalkr132 commented on #1426
Request to release the namespace was made on help site.

[2016-09-14 06:48] #1426 closed

[2016-09-14 06:50] sonalkr132 commented on #1411
Discussion was opened on help site: http://help.rubygems.org/discussions/problems/22723-gem-name-not-released-after-using-gemcutter

[2016-09-14 06:50] #1411 closed

[2016-09-14 06:52] sonalkr132 commented on #1302
This was implemented in #1361. Users can go to https://rubygems.org/profile/edit to add their twitter handle.

[2016-09-14 06:52] #1302 closed

[2016-09-14 06:57] sonalkr132 commented on #972
#1349 was reverted because of #1395

[2016-09-14 07:27] sonalkr132 commented on #950
This was implemented in #1392. You can see runtime and development dependencies at: https://rubygems.org/api/v2/rubygems/activerecord/versions/5.0.0.json

[2016-09-14 07:27] #950 closed

[2016-09-14 22:26] shevegen commented on #1424
I am unfamiliar with how npm stars work. Could someone give an example perhaps please, just to satisfy my curiousity?

[2016-09-15 15:02] arthurnn commented on #1424
TBH I don't see much value in this feature.
And if we can avoid as much input from the rubygems.org site I would prefer.
Thoughts @qrush @evanphx @dwradcliffe ?

[2016-09-15 15:20] qrush commented on #1424
You can already subscribe to gems for updates - and they appear when you sign in.

[2016-09-16 00:58] s2t2 commented on #1424
Facilitating/enabling/encouraging github repo starring might elevate the popularity of all gems on github and therefore make Rubygems as an ecosystem more popular.

[2016-09-16 10:38] lynnco commented on #1424
@sonalkr132's suggestion of sending star requests to github and having the stars be read from there, should be a fairly low weight addition.

I also agree with @s2t2's comment that it would make Rubygems more popular as a whole. Although how much more popular and whether or not that popularity is worth the added UI elements is up for debate.

I'm not familiar with the use / implementation of stars

[2016-09-16 12:57] arthurnn commented on #1424
I like the integration idea. 👍 , should be simpler, and easy to remove if we find there is no value in the future.

[2016-09-16 13:01] simi commented on #1424
I don't agree with popularity argument, but what about to start with something really really simple similar to [ghbtns.com](https://ghbtns.com/#star)?

[2016-09-16 13:04] dwradcliffe commented on #1424
Note: we don't always have a good mapping between gems and GitHub repos. Most gems probably follow the pattern of putting a good GitHub url in the project url field but not always.

I would definitely prefer to use a simple button like @simi suggested rather than lots of backend api interactions with a 3rd party.

[2016-09-23 19:05] connorshea opened #1429 "@rubygems twitter account no longer running, webhooks are broken?"
Sorry if this is the wrong place to report the problem, or if the problem isn't with RubyGems.org, but I've noticed that the rubygems twitter account hasn't been tweeting for a few days now: https://twitter.com/rubygems

It says in the description that it runs off webhooks, are webhooks not working for whatever reason?

[2016-09-24 08:12] shevegen commented on #1429
September 17th was the day that rubygems-twitter died ...

(Sorry for being somewhat melodramatic, I just wanted to get in the date of when the rubygems.org-twitter last worked.)

[2016-09-24 08:14] simi commented on #1429
![rip](https://cloud.githubusercontent.com/assets/193936/18807118/efb87ccc-8271-11e6-8cbe-6762e770d934.jpg)

:'(

[2016-09-24 14:13] sonalkr132 commented on #1429
Everything seems fine on rubygems.org side. global post request: https://requestb.in/xbon8pxb?inspect

[2016-09-24 23:05] connorshea commented on #1429
Ah, so I suppose this is a problem with the @rubygems twitter account itself? Does the project have control over that account or is it unrelated?

[2016-09-24 23:07] dwradcliffe commented on #1429
I think we do. Trying to track it down since it has been a while since we
touched it last.

On Saturday, September 24, 2016, Connor Shea <notifications@github.com>
wrote:

--
---
David Radcliffe

[2016-09-25 01:36] dwradcliffe commented on #1429
We figured out what was happening. The app posting to twitter has hit some limits due to misconfiguration. We got things moved around and it's working now!

[2016-09-25 01:36] #1429 closed

[2016-09-25 02:41] simi commented on #1429
Welcome back https://twitter.com/rubygems!

[2016-09-25 04:50] connorshea commented on #1429
Yay! Thanks :)

[2016-09-29 09:54] sonalkr132 opened #1434 "web_hook enhancements"
Our [webhook failure rate](https://github.com/rubygems/rubygems.org/blob/master/app/jobs/notifier.rb#L28) is unreasonably high (3 failures : 1 success). We have global web_hooks with `example.com` as url :sweat:  We have some [validation on url of web_hook ](https://github.com/rubygems/rubygems.org/blob/master/app/models/web_hook.rb#L7)for formatting. I believe this situation can be way better if

[2016-09-29 09:58] sonalkr132 commented on #1434
Check https://github.com/rubygems/rubygems.org/issues/138 for previous discussion.

[2016-09-29 16:12] jaredbeck commented on #1335
Would gem authors be able to see statistics about, e.g. what version of ruby their users have? This would be very useful to gem authors when deciding which versions of ruby to support. Many gems also wonder which versions of rails they should support. Sinatra plugins will want to know what versions of sinatra are in use, etc. Giving gem authors the ability to make informed decisions about compatib

[2016-10-02 11:26] zotherstupidguy commented on #583
Faced similar problems today trying to update a gem. and help.rubygems.org gives 404

[2016-10-03 15:22] jeroenvisser101 commented on #1252
Hey, even though this is super cool, I don't think I have the time that I need to invest in this. I'll leave this open for anyone to pick up.

[2016-10-04 18:53] jaredbeck opened #1439 "Gem author can see statistics about which ruby versions people use"
As a gem author,
I want to see statistics about which ruby versions people are using,
So I can make informed decisions about which rubies to support

As the author of a gem that depends on rails,
I want to see statistics about which rails versions people use,
So I can make informed decisions about which rails versions to support

----

This would be huge for the ruby community. Compatibility is an

[2016-10-04 19:00] dwradcliffe commented on #1439
Currently no. There is some work started to send stats from the bundler client back to RubyGems.org but I don't think it's made it very far.

We have a few 3rd party services we use for stats, but nothing that would work well to expose on the website. At the moment we don't have the resources to store and process this data. I'm totally open to ideas and suggestions, although managing another data

[2016-10-04 19:01] dwradcliffe commented on #1439
Also, I think the idea is great and I agree it would be valuable to provide that information.

[2016-10-04 20:38] jaredbeck commented on #1439
Great! Thanks for the quick response, David.

Why the bundler client? That information isn't available server-side?

I can read up on the infrastructure, assuming the easy to find resources like https://github.com/rubygems/rubygems-infrastructure/wiki/Architecture-Overview are up to date.

My naïve thought was that the final destination for the calculated statistics would be whatever data store ho

[2016-10-04 20:45] dwradcliffe commented on #1439
With the CDN/caching layers we have in place (Fastly), our servers only see a fraction of the requests. So we can't use that data. We can send logs from Fastly for every request to _something_ to process and store them, but that's a lot of logs.

As for storage, it's simply too much data to store in the postgresql database. We used redis to store similar data before, but it got to be too much data

[2016-10-05 04:33] jaredbeck commented on #1439
So, if I understand correctly, we'll have to parse the logs from Fastly, aggregate that data, write the aggregated statistics to the postgres db, and display those stats on the gem profile. Is that correct?

Yeah, I'm sure. Any chance you can quantify that? Having a rough idea of the size of the raw logs, say, daily, will help with our planning.

Just to get the discussion going, let me throw out

[2016-10-06 02:37] qrush opened #1444 "Move "Previous version" and "Next version" buttons down"
Just noticed these buttons -

I think they're too far up on the page - they're not as important as the info of the gem, authors, etc. I think they must be useful for some folks - but maybe below the checksum would be a better spot.

Now:

![before](https://cloud.githubusercontent.com/assets/12610/19138665/484b3248-8b4c-11e6-9500-04c1326b03e6.png)

Perhaps this?:

![after](https://cloud.githubuserc

[2016-10-06 02:40] simi commented on #1444
:+1:, also I'm not sure why those links are there when no prev/next version is available (linked just to #).

[2016-10-06 02:42] qrush commented on #1444
Agreed, that would be another nice thing - hide previous or next if they don't exist.

[2016-10-06 15:45] sonalkr132 opened #1445 "Add hackerone to security page"
We have bounty program for rubygems (client). I believe the security page should include that. It could also use the mention that security bugs found on rubygems.org can be reported on hackerone as well.

[2016-10-07 16:42] shevegen commented on #1445
I guess you mean https://rubygems.org/pages/security ?

If so I concur, a paragraph could be added. If this is done, perhaps ~2 sentences should briefly mention what hackerone is, IF it is mentioned - for instance, I did not know about hackerone before this issue request here, I had to google for it. :)

[2016-10-07 16:45] shevegen commented on #1444
I am fine by it either way - remember that perhaps... a month ago or so we had no such link; the placement is probably not as important as them existing in the first place. :D

There is another link called "Show all versions (n total)" which can be clicked, so I think it may make sense to have another clickable action closer to it. Perhaps right after the description itself? However had, I am also

[2016-10-07 16:49] #1444 closed

[2016-10-07 16:50] shevegen commented on #1439
I like the idea behind it so +1 - interestingly enough, at the least to me, I never thought about this. I mostly just use the latest ruby and sorta assume that everyone else uses it too. :D

Btw in the event that it may add too much data, how about an approximation? Something like, you know, "About 10% use ruby 1.8.x for this gem." or just for some major version data.

I mean the data structure is

[2016-10-07 17:01] #1383 closed

[2016-10-07 18:36] jaredbeck commented on #1439
The final calculated statistics would only be a few kilobytes in each gem record in the postgres database, which is not a concern. When David says "it's simply too much data to store" I believe he means that tracking every download event (about 1 billion events per year?) in postgres or redis would be too much.

1. How would these logs be batched? Daily, hourly? Hopefully not one HTTP request at a

[2016-10-07 22:27] indirect commented on #1439
@jaredbeck I would also dearly love to see stats like downloads per day/month/year. I think this would ultimately be better solved by a specialized event store that we can query for the actual data, rather than calculating a storing a tiny subset of it in postgres along with the actual critical gem data. Two examples of existing systems for this include [npm statistics via map reduce](https://gith

[2016-10-09 19:43] sonalkr132 opened #1450 "n+1 in Api::V1::VersionsController#show"
`gem_download` association of versions model is instance dependent:

[code]

download_count of versions payload uses this association causing n queries for download count of each version. Logically this should take only one query to load all the gem_downloads. I am not sure how can this be eager loaded. Perhaps with a decorator?

[2016-10-10 17:39] jaredbeck commented on #1439
Yay, with David and André both on board, I'm sure we can do this! #dreamteam

Oh, that's great! I'm reading `app/jobs/fastly_log_processor.rb` now, which I assume is the shoryuken worker.

[2016-10-11 05:58] sonalkr132 opened #1455 "info cache is deleted before info_checksum is set"
On version push, info_checksum is set by:

[code]

@indirect I am guessing you are concerned about possible race condition?

Alternatively, we can make [`compute_compact_index_info`](https://github.com/rubygems/rubygems.org/blob/master/app/models/gem_info.rb#L66) public and delete cache after updating info_checksum in database.

[2016-10-11 06:02] sonalkr132 commented on #1400
@dwradcliffe

then a deploy task can sync that file on all the servers
the deploy task could just run the rake task so it's just one button

[2016-10-11 07:01] sonalkr132 opened #1456 "Write tests for rake task to update version.list"
- test for ORDER BY date, number, platform, name
- test for response format

https://robots.thoughtbot.com/test-rake-tasks-like-a-boss

[2016-10-11 08:38] sonalkr132 opened #1457 "Bulk update gem downloads"
I am curious whether bulk update was considered in implementation of gem downloads with `FastlyLogProcessor`. Using following sql:

[code]

and similar one for updating rubygems download would make 3100(avg) fewer sql queries in each job.

[2016-10-11 08:44] sonalkr132 commented on #1457
cc @arthurnn
[Why are batch inserts/updates faster? How do batch updates work?](http://stackoverflow.com/questions/1006969/why-are-batch-inserts-updates-faster-how-do-batch-updates-work/1007006#1007006)

[2016-10-11 13:42] dwradcliffe commented on #1457
I thought we tried a few ways but couldn't for some reason. I can't remember exactly.

[2016-10-12 16:40] baob opened #1460 "SSL-Certificate-Update process fails to update gem to 2.6.7"
I'm following [this process](http://guides.rubygems.org/ssl-certificate-update/)

In my case, the gem does not update to 2.6.7. I've looked up advice on the only error message, the only advice suggests I might be erroneously referencing rubyforge , not true in my case.

[code]
Related to the error message
[code]

[2016-10-12 17:05] sonalkr132 commented on #1460
For what its worth, I could not reproduce this.
Try `gem uninstall rubygems-update`. if multiple versions are installed choose:

Install rubygem-update-2.6.7 again and `update_rubygems`.

[2016-10-12 17:08] shlok007 commented on #1424
Since, no one is currently working on it, I'll be happy to take this up. Will be ready with a PR with that implementation soon. :slightly_smiling_face:

[2016-10-12 17:30] baob commented on #1460
Unfortunately `gem uninstall rubygems-update`  made no difference

[2016-10-12 17:51] sonalkr132 commented on #1460
:scream: I had rubygem 2.6.6. Updating of 2.6.1 doesn't work for any of versions from 2.6.2 to 2.6.7.

RubyGems has already been updated.
The rubygems-update gem may now be uninstalled.
E.g.    gem uninstall rubygems-update

Will update when I have more info :+1:

[2016-10-12 17:52] dwradcliffe commented on #1460
This probably needs to move to the other repo. (rubygems/rubygems)
cc: @segiddins @drbrain

[2016-10-12 18:02] sonalkr132 commented on #1460
@baob Found this https://github.com/rubygems/rubygems/issues/1533

[code]

Replace line 11 ( `version = ">= 0.a"`) of `update_rubygems` script with:
[code]
[code]

[2016-10-12 18:03] dwradcliffe commented on #1460
Good find! I'm going to close this, any further discussion can happen on that issue.

[2016-10-12 18:03] #1460 closed

[2016-10-12 18:26] baob commented on #1460
@sonalkr132 That solves it for me, thanks. Will check the other issue as needed.

[2016-10-13 13:40] Astuid opened #1462 "ERROR: While executing gem ... (Errno::ECONNREFUSED) Connection refused - recvfrom(2)"
first i installed ruby on my redhat 6.6 , and then i installed rubygems
when i use gem to install something , erros occurred as follows:

[root@slave2 rubygems-2.6.6]# gem install  pry
ERROR:  While executing gem ... (Errno::ECONNREFUSED)
    Connection refused - recvfrom(2)
[root@slave2 rubygems-2.6.6]# gem install rest-client
ERROR:  While executing gem ... (Errno::ECONNREFUSED)
    Connection r

[2016-10-13 13:43] dwradcliffe commented on #1462
Sounds like you have system network issues. Or a misconfigured proxy somewhere along the way. Make sure you can connect to the internet and if you still have problems you can open a help ticket at help.rubygems.org/discussion/new.

[2016-10-13 13:43] #1462 closed

[2016-10-13 13:48] Astuid commented on #1462
@dwradcliffe
problem is my server could not connect to internet because of its behavior as intranet for

[2016-10-13 13:52] Astuid commented on #1462
@dwradcliffe
does i have to connect to internet?
problem is my server could not connect to internet because of its behavior as intranet..

[2016-10-13 13:52] Astuid commented on #1462
@dwradcliffe
does it have to connect to internet?
problem is my server could not connect to internet because of its behavior as intranet..

[2016-10-13 13:54] dwradcliffe commented on #1462
Yes, the gems come from the internet.

[2016-10-13 17:34] sonalkr132 opened #1465 "Documentation update"
- [ ] Remove Sinatra app references from [readme](https://github.com/rubygems/rubygems.org#organization). [bundler-api is dead](https://github.com/rubygems/rubygems.org/pull/1461) :skull_and_crossbones:
- [ ] Update [database layout](https://github.com/rubygems/rubygems.org/blob/master/CONTRIBUTING.md#database-layout). [This rake task](https://github.com/rubygems/rubygems.org/blob/master/lib/tasks

[2016-10-14 03:06] tadityar commented on #1465
hello! I'll work on this

[2016-10-14 12:17] sonalkr132 commented on #1356
Some blacklisted gems/namespace exist on rubygems.org. Probably because gem was pushed before the namespace was blacklisted.
[coverage](https://rubygems.org/gems/coverage)
[digest](https://rubygems.org/gems/digest)
[english](https://rubygems.org/gems/english)
[etc](https://rubygems.org/gems/etc)
[expect](https://rubygems.org/gems/expect)
[fiber](https://rubygems.org/gems/fiber)
[fileutil](https://

[2016-10-14 15:05] baob opened #1471 "SSL-Certificate-Update process still leaves 'gem install' broken"
I'm following [this process](http://guides.rubygems.org/ssl-certificate-update/)

I've also had this advice:  #1460

Somehow, I have rvm gemsets which are still broken and won't allow me to install gems, even after completing the rubygems and certificate updates mentioned above.

I would appreciate any help you can give diagnosing the problem here.

Here's a log of one problem, where I started off

[2016-10-14 18:22] baob commented on #1471
Is this the cause ? --> https://www.globalsign.com/en/status/

[2016-10-14 18:29] dwradcliffe commented on #1471
@baob No, that does not affect the rubygems or bundler clients.

Can you try running this and report back:
`ruby -r rubygems/request -e "puts Gem::Request.get_cert_files"`

[2016-10-16 21:37] #1445 closed

[2016-10-17 14:32] baob commented on #1471
@dwradcliffe This is what I have:
[code]

[2016-10-21 07:38] ghost opened #1478 "Cosmetic change: display latest version and gem size of that version in a small font on the main profile page of a gem-author"
Hello. I am not sure if this proposal is useful or not; it is mostly a cosmetic change only.

I think it would be easy to implement because code for what I will suggest, already
appears to exist. But allow me to first describe my idea.

Right now, if you go to the profile of an author on rubygems.org, you can see the
following (let's pick chris2 just as example):

[code]

Ok, what do we see specif

[2016-10-23 23:20] marcus-cr opened #1479 "Missing OpenSSL, unable to install gems or update system"
Hello,

I'm beginning to explore Ruby and Ruby Gems and I'm very unfamiliar with both. Normally I use Homebrew and have OpenSSL brewed. I'm trying to use bundle to install snorby however I get these error messages while running `$ bundle`

Make sure that `gem install eventmachine -v '1.0.8'` succeeds before bundling.

But after running `gem install eventmachine -v '1.0.8'` I receive this error:

m

[2016-10-23 23:27] segiddins commented on #1479
How did you install your ruby?

[2016-10-23 23:34] marcus-cr commented on #1479
I don't remember installing it, just RubyGems..

I'm assuming it came with macOS.

[2016-10-23 23:46] segiddins commented on #1479
So you're using OS X's system ruby?
What's the output of `gem env`?

[2016-10-23 23:57] marcus-cr commented on #1479
Ah yes, wow... I used rbenv to get Ruby 2.3.1.

  - RUBYGEMS VERSION: 2.6.7
  - RUBY VERSION: 2.3.1 (2016-04-26 patchlevel 112) [x86_64-darwin16]
  - INSTALLATION DIRECTORY: /usr/local/var/rbenv/versions/2.3.1/lib/ruby/gems/2.3.0
  - USER INSTALLATION DIRECTORY: /Users/marcus/.gem/ruby/2.3.0
  - RUBY EXECUTABLE: /usr/local/var/rbenv/versions/2.3.1/bin/ruby
  - EXECUTABLE DIRECTORY: /usr/local/var/

[2016-10-24 03:51] sonalkr132 commented on #1479
hi marcus-cr,

Please check http://stackoverflow.com/questions/30818391/gem-eventmachine-fatal-error-openssl-ssl-h-file-not-found
I am closing this because issue has nothing to do with rubygems.org.

[2016-10-24 03:51] #1479 closed

[2016-10-24 04:13] sonalkr132 commented on #1478
This would only need
[code]
in `profiles/rubygem` and won't add any sql query. If this change is acceptable, preferably `rubygems/rubygem` should be updated as well for consistency.

[2016-10-24 05:25] sonalkr132 opened #1480 "Correct name argument of statsd_count_success method"
`statsd_count_success` method's name argument doesn't need `.success` suffix. [This](https://github.com/rubygems/rubygems.org/blob/cb09831cd8e827a821b8cdc203fecd8bbab6b722/app/jobs/notifier.rb#L28) gets reported as `Webhook.perform.success.success` and `Webhook.perform.success.failure`.

http://www.rubydoc.info/gems/statsd-instrument/2.0.10/StatsD%2FInstrument%3Astatsd_count_success

[2016-11-04 03:25] ajitsing opened #1483 "Feature Request: Show number of gem downloads for current week"
It will be very helpful for a gem owner to know the number of downloads in last 7 days, hence requesting this feature.

[2016-11-06 14:55] #1404 closed

[2016-11-06 14:55] dwradcliffe commented on #1483
Related: #1335 #1439

[2016-11-06 17:10] #1401 closed

[2016-11-06 22:56] #1456 closed

[2016-11-07 00:52] Speculate7 commented on #1439
Hey @jaredbeck are you still working on this?

[2016-11-07 02:44] jaredbeck commented on #1439
Yes. We are still discussing the architecture. There are (at least) two outstanding questions.

1. Can we use the existing log processing pipeline as André describes?
  a. Bundler currently reports the ruby version in a request header. Can it also report the rails version? If so, will that pass through from Fastly?
1. Where do we store the data we extract from the logs? I've recommend that the dat

[2016-11-07 14:38] sonalkr132 opened #1486 "Fix images on maintenance and 404 page"
Read discussion on #1468

Previously used [sea_floor.png](https://github.com/rubygems/rubygems.org/blob/af86e4a921123b18e51a1d989f24afd5f82a6ef0/public/images/sea_floor.png) image and currently used [sea_floor.svg](https://github.com/rubygems/rubygems.org/blob/master/public/images/sea_floor.svg).

Previously used [gem_wrench.png](https://github.com/rubygems/rubygems.org/blob/af86e4a921123b18e51a1d

[2016-11-07 14:42] sonalkr132 commented on #1471
hi @baob Are you still having issues?

Please checkout these discussions on our help site:

* http://help.rubygems.org/discussions/problems/22983-ssl-server-certificate-verify-failed
* http://help.rubygems.org/discussions/problems/24036-ssl-vierify-failed
* http://help.rubygems.org/discussions/problems/24044-ssl-server-certificate-verify-failed

[2016-11-07 14:44] sonalkr132 commented on #1471
Please open a help ticket if your are still having ssl issue http://help.rubygems.org/discussion/new

[2016-11-07 14:44] #1471 closed

[2016-11-07 14:51] sonalkr132 commented on #1115
Hi @olivierlacan

Feature you requested creates n+1 on `versions#show` and ends up adding 4 times more cost. It is one of the heavily used endpoints.
[We added dependencies count to gem show page](https://github.com/rubygems/rubygems.org/pull/1474).
If you can come up with a solution which won't add significant cost, we may consider it. I am closing this.

See Also https://github.com/rubygems/ruby